#nombre{
    background: #fef6df;
    color:green;
    border-radius: 20px;
}
#correo{
    background: #fef6df;
    color:green;
    border-radius: 20px;
}
#comentario{
    background: #fef6df;
    color:green;
    border-radius: 20px;
}
ion-select {

    color: green;
    --placeholder-color: green;
    --placeholder-opacity: 4;
    background: #fef6df;
    border-radius: 20px;
  }
.content1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
