#nombre{
    background: #fef6df;
    color:green;
    border-radius: 20px;
}
#correo{
    background: #fef6df;
    color:green;
    border-radius: 20px;
}
#comentario{
    background: #fef6df;
    color:green;
    border-radius: 20px;
}
ion-select {

    color: green;
    --placeholder-color: green;
    --placeholder-opacity: 4;
    background: #fef6df;
    border-radius: 20px;
  }

