<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería Industrial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img  src="../../assets/imgindustrial/Pindustrial.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="verde">
    
   <ion-card color="dark" class="ion-padding" >
    
   <ion-slides pager="true">

    <ion-slide>
    <ion-text color="light"><ion-button color="naranja">
      <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Objetivo General</ion-button>
     <div class="ion-text-justify">
     <h6>
    Formar profesionales, éticos, líderes, creativos y emprendedores en 
      el área de Ingeniería Industrial; competente para diseñar, implantar, administrar, innovar y 
      optimizar sistemas de producción de bienes y servicios; con enfoque sistémico y sustentable en un entorno global.
    </h6>
  </div>
    </ion-text>
  </ion-slide>
    
  <ion-slide>
    <ion-text color="light"><ion-button color="naranja">
      <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Misión</ion-button>
     <div class="ion-text-justify">
     <h6>Formar profesionales multidisciplinarios 
      comprometidos con el mejoramiento del entorno, con alto sentido humano para el desarrollo 
      sustentable de la nación.
    </h6>
  </div>
    </ion-text>
  </ion-slide>
    

  <ion-slide>
    <ion-text color="light"><ion-button color="naranja">
      <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Visión</ion-button>
     <div class="ion-text-justify">
     <h6>Ser Ingeniero Industrial la mejor opción para los aspirantes de 
      la región y del Estado, y comprometida con la excelencia académica y la formación integral del alumno, para formar 
      profesionales con los requerimientos de los sectores productivos y de servicios, los cuales contribuyan 
      al desarrollo sustentable de la sociedad.  </h6>
    </div>
      </ion-text>
    
       
    </ion-slide>
       
       </ion-slides>
      </ion-card>
    </ion-card>
  


  <div>
    <ion-card button 
   class="accordion" color="naranja" >
   <div class="ion-text-center"><b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp;Retícula de Ingeniería Industrial Escolarizado IIND-2010-227</b></div></ion-card>
    <div class="panel">  
  


 
      <div>
        <ion-card button 
       class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
      <div class="panel">  
          <ul>
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> TALLER DE ÉTICA </li>
      <li> CÁLCULO DIFERENCIAL </li>
      <li> TALLER DE HERRAMIENTAS INTELECTUALES </li>
      <li> QUÍMICA </li>
      <li> DIBUJO INDUSTRIAL </li>
      <li> ANÁLISIS DE LA REALIDAD NACIONAL</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
    
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> METROLOGÍA Y NORMALIZACIÓN </li>
      <li> ELECTRICIDAD Y ELECTRÓNICA INDUSTRIAL</li>
      <li> CÁLCULO INTEGRAL </li>
      <li> PROPIEDAD DE LOS MATERIALES </li>
      <li> ECONOMÍA</li>
      <li> PROBABILIDAD Y ESTADÍSTICA </li>
      <li> TALLER DE LIDERAZGO</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> PROCESOS DE FABRICACIÓN </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> CÁLCULO VECTORIAL </li>
      <li> ALGORITMOS Y LENGUAJES DE PROGRAMACIÓN </li>
      <li> ESTADÍSTICA INFERENCIAL I</li>
      <li> ESTUDIO DEL TRABAJO I </li>
      <li> HIGIENE Y SEGURIDAD INDUSTRIAL</li>
      <li> INGLÉS I</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ADMINISTRACIÓN DE PROYECTOS </li>
      <li> FÍSICA</li>
      <li> GESTIÓN DE COSTOS </li>
      <li> INVESTIGACIÓN DE OPERACIONES I </li>
      <li> ESTADÍSTICA INFERENCIAL II</li>
      <li> ESTUDIO DEL TRABAJO II </li>
      <li> DESARROLLO SUSTENTABLE</li>
      <li> INGLÉS II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> INGENIERÍA ECONÓMICA </li>
      <li> ADMINISTRACIÓN DE LAS OPERACIONES I </li>
      <li> INVESTIGACIÓN DE OPERACIONES II </li>
      <li> CONTROL ESTADÍSTICO DE LA CALIDAD</li>
      <li> ERGONOMÍA </li>
      <li> MERCADOTECNIA</li>
      <li> INGLÉS III</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> PLANEACIÓN FINANCIERA</li>
      <li> ADMINISTRACIÓN DE LAS OPERACIONES II</li>
      <li> SIMULACIÓN </li>
      <li> ADMINISTRACIÓN DEL MANTENIMIENTO</li>
      <li> GESTIÓN DE LOS SISTEMAS DE CALIDAD </li>
      <li> INGENIERÍA DE SISTEMAS</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RELACIONES INDUSTRIALES </li>
      <li> DESARROLLO DE APLICACIONES PARA DISPOSITIVOS MÓVILES</li>
      <li> PLANEACIÓN Y DISEÑO DE INSTALACIONES</li>
      <li> SISTEMAS DE MANUFACTURA</li>
      <li> LOGÍSTICA Y CADENAS DE SUMINISTRO</li>
      <li> DISEÑO ASISTIDO POR COMPUTADORA (CAD) </li>
      <li> INGLÉS V </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
      <li> MANUFACTURA ASISTIDA POR COMPUTADORA (CAM)A</li>
      <li> MANUFACTURA ESBELTA</li>
      <li> MANUFACTURA INTEGRADA POR COMPUTADORA (CIM) </li>
      <li> INGLÉS VI</li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA PROFESIONAL </li>
      <li> NIVEL B1 (MCER) </li>
    </ul>
  </div>
</div>


</div>
</div>

<!--  -->

<div>
  <div>
    <ion-card button 
   class="accordion" style="border-radius: 5px;" color="naranja">
   <div class="ion-text-center">
  <b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp; Retícula de Ingeniería Industrial Mixto IIND-2010-227</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> TALLER DE ÉTICA </li>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> TALLER DE HERRAMIENTAS INTELECTUALES </li>
    <li> QUÍMICA </li>
    <li> DIBUJO INDUSTRIAL </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> ELECTRICIDAD Y ELECTRÓNICA INDUSTRIAL</li>
    <li> CÁLCULO INTEGRAL </li>
    <li> PROPIEDAD DE LOS MATERIALES </li>
    <li> PROBABILIDAD Y ESTADÍSTICA </li>
    <li> TALLER DE LIDERAZGO</li>
    <li> ANÁLISIS DE LA REALIDAD NACIONAL</li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> METROLOGÍA Y NORMALIZACIÓN </li>
    <li> ÁLGEBRA LINEAL </li>
    <li> CÁLCULO VECTORIAL </li>
    <li> ECONOMÍA </li>
    <li> ESTADÍSTICA INFERENCIAL I </li>
    <li> ESTUDIO DEL TRABAJO I </li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
      <li>  PROCESOS DE FABRICACIÓN </li>
      <li> FÍSICA </li>
      <li> ALGORITMOS Y LENGUAJES DE PROGRAMACIÓN </li>
      <li> INVESTIGACIÓN DE OPERACIONES I</li>
      <li> ESTADÍSTICA INFERENCIAL II </li>
      <li> ESTUDIO DEL TRABAJO II </li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> ADMINISTRACIÓN DE PROYECTOS</li>
    <li> GESTIÓN DE COSTOS </li>
    <li> ADMINISTRACIÓN DE LAS OPERACIONES I </li>
    <li> INVESTIGACIÓN DE OPERACIONES II </li>
    <li> HIGIENE Y SEGURIDAD INDUSTRIAL</li>
    <li> INGLÉS I</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button
  class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> INGENIERÍA ECONÓMICA</li>
      <li> ADMINISTRACIÓN DE LAS OPERACIONES II</li>
      <li> CONTROL ESTADÍSTICO DE LA CALIDAD </li>
      <li> ERGONOMÍA</li>
      <li> INGLÉS II</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE INVESTIGACIÓN II </li>
    <li> SIMULACIÓN</li>
    <li> ADMINISTRACIÓN DEL MANTENIMIENTO</li>
    <li> MERCADOTECNIA </li>
    <li> DESARROLLO SUSTENTABLE</li>
    <li> INGLÉS III </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PLANEACIÓN FINANCIERA </li>
    <li> PLANEACIÓN Y DISEÑO DE INSTALACIONES</li>
    <li> SISTEMAS DE MANUFACTURA</li>
    <li> LÓGICA Y CADENAS DE SUMINISTRO </li>
    <li> GESTIÓN DE LOS SISTEMAS DE CALIDAD</li>
    <li> INGLÉS IV </li>
  </ul>
</div>
</div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li>FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
    <li> RELACIONES INDUSTRIALES</li>
    <li> INGENIERÍA DE SISTEMAS </li>
    <li> DISEÑO ASISTIDO POR COMPUTADORA (CAD)</li>
    <li> MANUFACTURA ESBELTA</li> 
    <li> INGLÉS V</li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>

<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="verde">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> MANUFACTURA ASISTIDA POR COMPUTADORA (CAM) </li>
      <li> MANUFACTURA INTEGRADA POR COMPUTADORA (CIM)</li>
      <li> INGLÉS VI </li>
      <li> NIVEL B1 (MCER)</li>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>
</div>

 <!--Perfil del Aspirante-->
 <ion-card color="light">
   
 
  <ion-card color="naranja"> 
  <div align="center">
  <ion-card-title><b>Perfil del Aspirante</b></ion-card-title>
  </div>
  
  </ion-card>
  
  <ion-card color="light">
  <div class="ion-text-justify">
  <h6>
   <ion-text color="dark">El aspirante a cursar la carrera Ingeniería Industrial en el Instituto 
  Tecnológico Superior de Teziutlán deberá haber concluido el bachillerato 
  general, y contar preferentemente con:
  </ion-text>
  </h6>
  </div>
  </ion-card>
 
 
 
  <ion-card color="dark">
  <ion-slides pager="true">
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Conocimientos</b></ion-text> </div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgindustrial/IndConocimientos.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Area fisicomatemáticas</h6></li>
  <li><h6>Areas administrativas y humanas</h6></li>
  <li><h6>Uso de las tecnologías de información</h6></li>
  <li><h6>Conceptos básicos de operaciones algebraicas y ecuaciones</h6></li>
  </ul>
  
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"> <b>Habilidades</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgindustrial/IndHabilidades.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Tener hábitos y métodos adecuados para el estudio</h6></li>
  <li><h6>Expresarse correctamente en forma oral y escrita</h6></li>
  <li><h6>Analizar y sintetizar problemas prácticos y de la vida real</h6></li>
  <li><h6>Razonamiento lógico matemático</h6></li>
  <li><h6>Resolución de problemas</h6></li>
  </ul>
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Intereses</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgindustrial/IndIntereses.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Aprendizaje de maquinaria industrial</h6></li>
  <li><h6>Manejar y utilizar diferentes tecnologías de información</h6></li>
  <li><h6>Creación de soluciones prácticas e innovadoras a problemas de la vida real</h6></li>
  <li><h6>Optimizar sistemas de producción de bienes y servicio</h6></li>
  </ul>
 </ion-slide>
  
 <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Actitudes</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgindustrial/IndActitudes.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Compromiso</h6></li>
  <li><h6>Responsabilidad</h6></li>
  <li><h6>Deseo de aprender</h6></li>
  <li><h6>Trabajo en equipo</h6></li>
  </ul>
 </ion-slide>
  
  
  </ion-slides>
 </ion-card>

<div align="center">
<img style="width: 250px; height: 80px;"  src="../../assets/imgindustrial/LogoIndustrial.png" />
</div>

</ion-card>
</ion-content>
