<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería Industrial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img style="width: 300px; height: 300px;" src="../../assets/imgindustrial/Pindustrial.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="dark">
    
    
   <ion-slides pager="true">
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Objetivo General</b></font></div><br>
    <h6><font color="white">Formar profesionales, éticos, líderes, creativos y emprendedores en 
      el área de Ingeniería Industrial; competente para diseñar, implantar, administrar, innovar y 
      optimizar sistemas de producción de bienes y servicios; con enfoque sistémico y sustentable en un entorno global.</font></h6>
    </div>
    </ion-slide>
    
    
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Misión</b></font></div><br>
    <h6><font color="white">Formar profesionales multidisciplinarios 
      comprometidos con el mejoramiento del entorno, con alto sentido humano para el desarrollo 
      sustentable de la nación.</font></h6>
    </div>
    </ion-slide>
    

    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"><b>Visión</b></font></div><br>
    <h6><font color="white">Ser Ingeniero Industrial la mejor opción para los aspirantes de 
      la región y del Estado, y comprometida con la excelencia académica y la formación integral del alumno, para formar 
      profesionales con los requerimientos de los sectores productivos y de servicios, los cuales contribuyan 
      al desarrollo sustentable de la sociedad.</font></h6>
    </div>
    </ion-slide>
    
   </ion-slides>
    
   </ion-card>
  


  <div>
    <ion-card button  class="accordion" style="border-radius: 5px;" color="verde" > 
   <div class="ion-text-center"><b>Retícula de Ingeniería Industrial Escolarizado IIND-2010-227</b></div></ion-card>
  <div class="panel">  


 
  <div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
    <ul>
      
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> TALLER DE ÉTICA </li>
      <li> CÁLCULO DIFERENCIAL </li>
      <li> TALLER DE HERRAMIENTAS INTELECTUALES </li>
      <li> QUÍMICA </li>
      <li> DIBUJO INDUSTRIAL </li>
      <li> ANÁLISIS DE LA REALIDAD NACIONAL</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
    
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> METROLOGÍA Y NORMALIZACIÓN </li>
      <li> ELECTRICIDAD Y ELECTRÓNICA INDUSTRIAL</li>
      <li> CÁLCULO INTEGRAL </li>
      <li> PROPIEDAD DE LOS MATERIALES </li>
      <li> ECONOMÍA</li>
      <li> PROBABILIDAD Y ESTADÍSTICA </li>
      <li> TALLER DE LIDERAZGO</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> PROCESOS DE FABRICACIÓN </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> CÁLCULO VECTORIAL </li>
      <li> ALGORITMOS Y LENGUAJES DE PROGRAMACIÓN </li>
      <li> ESTADÍSTICA INFERENCIAL I</li>
      <li> ESTUDIO DEL TRABAJO I </li>
      <li> HIGIENE Y SEGURIDAD INDUSTRIAL</li>
      <li> INGLÉS I</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ADMINISTRACIÓN DE PROYECTOS </li>
      <li> FÍSICA</li>
      <li> GESTIÓN DE COSTOS </li>
      <li> INVESTIGACIÓN DE OPERACIONES I </li>
      <li> ESTADÍSTICA INFERENCIAL II</li>
      <li> ESTUDIO DEL TRABAJO II </li>
      <li> DESARROLLO SUSTENTABLE</li>
      <li> INGLÉS II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> INGENIERÍA ECONÓMICA </li>
      <li> ADMINISTRACIÓN DE LAS OPERACIONES I </li>
      <li> INVESTIGACIÓN DE OPERACIONES II </li>
      <li> CONTROL ESTADÍSTICO DE LA CALIDAD</li>
      <li> ERGONOMÍA </li>
      <li> MERCADOTECNIA</li>
      <li> INGLÉS III</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> PLANEACIÓN FINANCIERA</li>
      <li> ADMINISTRACIÓN DE LAS OPERACIONES II</li>
      <li> SIMULACIÓN </li>
      <li> ADMINISTRACIÓN DEL MANTENIMIENTO</li>
      <li> GESTIÓN DE LOS SISTEMAS DE CALIDAD </li>
      <li> INGENIERÍA DE SISTEMAS</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RELACIONES INDUSTRIALES </li>
      <li> DESARROLLO DE APLICACIONES PARA DISPOSITIVOS MÓVILES</li>
      <li> PLANEACIÓN Y DISEÑO DE INSTALACIONES</li>
      <li> SISTEMAS DE MANUFACTURA</li>
      <li> LOGÍSTICA Y CADENAS DE SUMINISTRO</li>
      <li> DISEÑO ASISTIDO POR COMPUTADORA (CAD) </li>
      <li> INGLÉS V </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
      <li> MANUFACTURA ASISTIDA POR COMPUTADORA (CAM)A</li>
      <li> MANUFACTURA ESBELTA</li>
      <li> MANUFACTURA INTEGRADA POR COMPUTADORA (CIM) </li>
      <li> INGLÉS VI</li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA PROFESIONAL </li>
      <li> NIVEL B1 (MCER) </li>
    </ul>
  </div>
</div>


</div>
</div>

<!--  -->


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">
 <div class="ion-text-center">
<b> Retícula de Ingeniería Industrial Mixto IIND-2010-227</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> TALLER DE ÉTICA </li>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> TALLER DE HERRAMIENTAS INTELECTUALES </li>
    <li> QUÍMICA </li>
    <li> DIBUJO INDUSTRIAL </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> ELECTRICIDAD Y ELECTRÓNICA INDUSTRIAL</li>
    <li> CÁLCULO INTEGRAL </li>
    <li> PROPIEDAD DE LOS MATERIALES </li>
    <li> PROBABILIDAD Y ESTADÍSTICA </li>
    <li> TALLER DE LIDERAZGO</li>
    <li> ANÁLISIS DE LA REALIDAD NACIONAL</li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> METROLOGÍA Y NORMALIZACIÓN </li>
    <li> ÁLGEBRA LINEAL </li>
    <li> CÁLCULO VECTORIAL </li>
    <li> ECONOMÍA </li>
    <li> ESTADÍSTICA INFERENCIAL I </li>
    <li> ESTUDIO DEL TRABAJO I </li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
      <li>  PROCESOS DE FABRICACIÓN </li>
      <li> FÍSICA </li>
      <li> ALGORITMOS Y LENGUAJES DE PROGRAMACIÓN </li>
      <li> INVESTIGACIÓN DE OPERACIONES I</li>
      <li> ESTADÍSTICA INFERENCIAL II </li>
      <li> ESTUDIO DEL TRABAJO II </li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> ADMINISTRACIÓN DE PROYECTOS</li>
    <li> GESTIÓN DE COSTOS </li>
    <li> ADMINISTRACIÓN DE LAS OPERACIONES I </li>
    <li> INVESTIGACIÓN DE OPERACIONES II </li>
    <li> HIGIENE Y SEGURIDAD INDUSTRIAL</li>
    <li> INGLÉS I</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> INGENIERÍA ECONÓMICA</li>
      <li> ADMINISTRACIÓN DE LAS OPERACIONES II</li>
      <li> CONTROL ESTADÍSTICO DE LA CALIDAD </li>
      <li> ERGONOMÍA</li>
      <li> INGLÉS II</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE INVESTIGACIÓN II </li>
    <li> SIMULACIÓN</li>
    <li> ADMINISTRACIÓN DEL MANTENIMIENTO</li>
    <li> MERCADOTECNIA </li>
    <li> DESARROLLO SUSTENTABLE</li>
    <li> INGLÉS III </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PLANEACIÓN FINANCIERA </li>
    <li> PLANEACIÓN Y DISEÑO DE INSTALACIONES</li>
    <li> SISTEMAS DE MANUFACTURA</li>
    <li> LÓGICA Y CADENAS DE SUMINISTRO </li>
    <li> GESTIÓN DE LOS SISTEMAS DE CALIDAD</li>
    <li> INGLÉS IV </li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li>FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
    <li> RELACIONES INDUSTRIALES</li>
    <li> INGENIERÍA DE SISTEMAS </li>
    <li> DISEÑO ASISTIDO POR COMPUTADORA (CAD)</li>
    <li> MANUFACTURA ESBELTA</li> 
    <li> INGLÉS V</li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>

<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="naranja">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> MANUFACTURA ASISTIDA POR COMPUTADORA (CAM) </li>
      <li> MANUFACTURA INTEGRADA POR COMPUTADORA (CIM)</li>
      <li> INGLÉS VI </li>
      <li> NIVEL B1 (MCER)</li>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>

<div align="center">
<img src="../../assets/imgindustrial/LogoIndustrial.png" />
</div>
</ion-content>
