<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería en Sistemas Computacionales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">


   <ion-card color="dark">
    <div align="center">
    <ion-img src="../../assets/imgsistemas/Psistemas.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="verde">
    <ion-card color="dark" class="ion-padding" >
    <ion-slides pager="true" >
    <ion-slide>
   
    <ion-text color="light"><ion-button color="naranja">
      <ion-icon name="checkmark-circle"></ion-icon> 
      &nbsp;Objetivo General</ion-button>
      <div class="ion-text-justify">
      <h6>Formar profesionistas líderes con visión estratégica y 
      amplio sentido ético; capaz de diseñar, desarrollar, implementar y administrar tecnología computacional 
      para aportar soluciones innovadoras en beneficio de la sociedad; en un contexto global, multidisciplinario y sostenible.
    </h6>
  </div>
    </ion-text>
  </ion-slide>

   </ion-slides>
    
   </ion-card>
  </ion-card>
  
  <div>
   
    <ion-card button 
    class="accordion" color="naranja" >
    <div class="ion-text-center"><b><ion-icon name="caret-down-outline"></ion-icon>
     &nbsp;Retícula de Ingeniería en Sistemas Computacionales Escolarizado ISIC-2010-224</b></div></ion-card>
     <div class="panel">  
   

 
      <div>
        <ion-card button 
       class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
      <div class="panel">  

          <ul>
      <li> CÁLCULO DIFERENCIAL </li>
      <li> FUNDAMENTOS DE PROGRAMACIÓN</li>
      <li> TALLER DE ÉTICA </li>
      <li> MATEMÁTICAS DISCRETAS  </li>
      <li> TALLER DE ADMINISTRACIÓN  </li>
      <li> FUNDAMENTOS DE INVESTIGACIÓN</li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
   
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CÁLCULO INTEGRAL </li>
      <li> PROGRAMACIÓN ORIENTADA A OBJETOS</li>
      <li> CONTABILIDAD FINANCIERA </li>
      <li> QUÍMICA  </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CÁLCULO VECTORIAL </li>
      <li> ESTRUCTURA DE DATOS</li>
      <li> CULTURA EMPRESARIAL </li>
      <li> INVESTIGACIÓN DE OPERACIONES </li>
      <li> SISTEMAS OPERATIVOS</li>
      <li> PROBABILIDAD Y ESTADÍSTICA</li>
      <li> FÍSICA GENERAL</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ECUACIONES DIFERENCIALES </li>
      <li> MÉTODOS NUMÉRICOS</li>
      <li> TÓPICOS AVANZADOS DE PROGRAMACIÓN </li>
      <li> FUNDAMENTOS DE BASES DE DATOS </li>
      <li> TALLER DE SISTEMAS OPERATIVOS</li>
      <li> PRINCIPIOS ELÉCTRICOS Y APLICACIONES DIGITALES </li>
      <li> GRAFICACIÓN</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>


  <div>
    <ion-card button 
   class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
  <div class="panel">  

      <ul>
      <li> LENGUAJES Y AUTÓMATAS I </li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES</li>
      <li> TALLER DE BASES DE DATOS </li>
      <li> SIMULACIÓN </li>
      <li> FUNDAMENTOS DE INGENIERÍA DE SOFTWARE</li>
      <li> ARQUITECTURA DE COMPUTADORAS </li>
      <li> LENGUAJES DE INTERFAZ</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> LENGUAJES Y AUTÓMATAS II </li>
      <li> REDES DE COMPUTADORAS</li>
      <li> ADMINISTRACIÓN DE BASES DE DATOS</li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> INGENIERÍA DE SOFTWARES</li>
      <li> SISTEMAS PROGRAMABLES </li>
      <li> PROGRAMACIÓN WEB</li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> PROGRAMACIÓN LÓGICA Y FUNCIONAL </li>
      <li> CONMUTACIÓN Y ENRUTAMIENTO DE REDES DE DATOS</li>
      <li> DISEÑO DE EXPERIENCIA DE USUARIO UX</li>
      <li> SERVICIOS WEB </li>
      <li> PROCESAMIENTO DE DATOS O TECNOLOGÍAS WEB PARA MÓVIL </li>
      <li> SERVICIO SOCIAL</li>
      <li> NIVEL B1 (MCER) </li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li>INTELIGENCIA ARTIFICIAL </li>
      <li> ADMINISTRACIÓN DE REDES </li>
      <li> TALLER DE INVESTIGACIÓN II</li>
      <li> GESTIÓN DE PROYECTOS DE SOFTWARE </li>
      <li> NEGOCIOS ELECTRÓNICOS</li>
      <li> INTELIGENCIA DE NEGOCIOS O APLICACIONES MÓVILES</li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>





<!--  -->


<div>

  <div>
    <ion-card button 
   class="accordion" style="border-radius: 5px;" color="naranja">
   <div class="ion-text-center">
  <b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp;Retícula de Ingeniería en Sistemas Computacionales Modular ISIC-2010-224</b></div></ion-card>
    <div class="panel">  


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> FUNDAMENTOS DE PROGRAMACIÓN</li>
    <li> TALLER DE ÉTICA </li>
    <li> MATEMÁTICAS DISCRETAS </li>
    <li> TALLER DE ADMINISTRACIÓN  </li>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO INTEGRAL </li>
    <li> PROGRAMACIÓN ORIENTADA A OBJETOS</li>
    <li> CONTABILIDAD FINANCIERA </li>
    <li> QUÍMICA </li>
    <li> ÁLGEBRA LINEAL</li>
    <li> DESARROLLO SUSTENTABLE </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO VECTORIAL </li>
    <li> ESTRUCTURA DE DATOS</li>
    <li> CULTURA EMPRESARIAL </li>
    <li> INVESTIGACIÓN DE OPERACIONES </li>
    <li> SISTEMAS OPERATIVOS</li>
    <li> PROBABILIDAD Y ESTADÍSTICA </li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
      <li>  ECUACIONES DIFERENCIALES</li>
      <li> MÉTODOS NUMÉRICOS </li>
      <li> TÓPICOS AVANZADOS DE PROGRAMACIÓN </li>
      <li> TALLER DE SISTEMAS OPERATIVOS</li>
      <li> FÍSICA GENERAL </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PRINCIPIOS ELÉCTRICOS Y APLICACIONES DIGITALES</li>
    <li> FUNDAMENTOS DE BASES DE DATOS </li>
    <li> SIMULACIÓN</li>
    <li> FUNDAMENTOS DE INGENIERÍA DE SOFTWARE </li>
    <li> ARQUITECTURA DE COMPUTADORAS</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> LENGUAJES Y AUTÓMATAS I </li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES</li>
      <li> TALLER DE BASES DE DATOS </li>
      <li> INGENIERÍA DE SOFTWARE </li>
      <li> GRAFICACIÓN</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> LENGUAJES Y AUTÓMATAS II </li>
    <li> REDES DE COMPUTADORAS</li>
    <li> PROGRAMACIÓN WEB </li>
    <li> ADMINISTRACIÓN DE BASES DE DATOS </li>
    <li> LENGUAJES DE INTERFAZ</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PROGRAMACIÓN LÓGICA Y FUNCIONAL </li>
    <li> CONMUTACIÓN Y ENRUTAMIENTO DE REDES DE DATOS</li>
    <li> TALLER DE INVESTIGACIÓN I</li>
    <li> GESTIÓN DE PROYECTOS DE SOFTWARE </li>
    <li> SISTEMAS PROGRAMABLES</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE INVESTIGACIÓN II </li>
    <li> ADMINISTRACIÓN DE REDES</li>
    <li> DISEÑOS DE EXPERIENCIA DE USUARIO UX </li>
    <li> SERVICIOS WEB</li>
    <li> PROCESAMIENTO DE DATOS O TECNOLOGÍAS WEB PARA MÓVIL</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="verde">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> INTELIGENCIA ARTIFICIAL </li>
      <li> NEGOCIOS ELECTRÓNICOS </li>
      <li> INTELIGENCIA DE NEGOCIOS O APLICACIONES MÓVILES </li>
      <li> NIVEL B1 (MCER)</li>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>

</div>



<ion-card color="light">
   
 
  <ion-card color="naranja"> 
  <div align="center">
  <ion-card-title><b>Perfil del Aspirante</b></ion-card-title>
  </div>
  
  </ion-card>
  
  <ion-card color="light">
  <div class="ion-text-justify">
  <h6>
   <ion-text color="dark">El aspirante al programa de Ingeniería en Sistemas Computacionales, 
     del Instituto Tecnologíco Superior de Teziutlan, debe tener Conocimientos en:
  </ion-text>
  </h6>
  </div>
  </ion-card>
 
 
 
  <ion-card color="dark">
  <ion-slides pager="true">
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Conocimientos</b></ion-text> </div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgsistemas/SisConocimientos.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Manejo básico de una computadora</h6></li>
  <li><h6>Uso básico de aplicaciones de oficina</h6></li>
  <li><h6>Habilidades lógico – matemáticas para resolver problemas afines a los Sistemas Computacionales</h6></li>
  <li><h6>Conceptos básicos de operaciones algebraicas y ecuaciones</h6></li>
  </ul>
  
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"> <b>Habilidades</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgsistemas/SisHabilidades.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Tener hábitos y métodos adecuados para el estudio</h6></li>
  <li><h6>Expresarse correctamente en forma oral y escrita</h6></li>
  <li><h6>Razonamiento lógico matemático</h6></li>
  <li><h6>Resolución de problemas en cualquier ámbito empresarial o social.</h6></li>
  </ul>
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Intereses</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgsistemas/SisIntereses.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Impulsar la ciencia, la tecnológica y la innovación a través del desarrollo y transferencia tecnológica.</h6></li>
  <li><h6>Diseñar, desarrollar, implementar y administrar tecnología computacional.</h6></li>
  <li><h6> Interés por las Ciencias Básicas.</h6></li>
  <li><h6>Tecnologías de Cómputo con un nivel de abstracción para la interpretación de su contexto.</h6></li>
  </ul>
 </ion-slide>
  
 <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Actitudes</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgsistemas/SisActitudes.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Compromiso</h6></li>
  <li><h6>Responsabilidad</h6></li>
  <li><h6>Trabajo en equipo</h6></li>
  <li><h6>Emprendedurismo</h6></li>
  <li><h6>Honestidad</h6></li>
  </ul>
 </ion-slide>
  
  
  </ion-slides>
 </ion-card>




<div align="center">
<img style="width: 250px; height: 80px;" src="../../assets/imgsistemas/Logosistemas.png" />
</div>
</ion-card>

</ion-content>
