<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería en Sistemas Computacionales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img style="width: 300px; height: 300px;" src="../../assets/imgsistemas/Psistemas.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="dark">
    
    
   <ion-slides pager="true">
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Objetivo General</b></font></div><br>
    <h6><font color="white">Formar profesionistas líderes con visión estratégica y 
      amplio sentido ético; capaz de diseñar, desarrollar, implementar y administrar tecnología computacional 
      para aportar soluciones innovadoras en beneficio de la sociedad; en un contexto global, multidisciplinario y sostenible.</font></h6>
    </div>
    </ion-slide>
    
    
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Mision</b></font></div><br>
    <h6><font color="white">""""
    </font></h6>
    </div>
    </ion-slide>
    
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"><b>Visión</b></font></div><br>
    <h6><font color="white">""""</font></h6>
    </div>
    </ion-slide>
    
   </ion-slides>
    
   </ion-card>
  
    <div>
      <ion-card button 
     class="accordion" style="border-radius: 5px;" color="verde" > 
     <div class="ion-text-center"><b>Retícula de Ingeniería en Sistemas Computacionales Escolarizado ISIC-2010-224</b></div></ion-card>
    <div class="panel">  

 
  <div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
    <ul>
      
      <li> CÁLCULO DIFERENCIAL </li>
      <li> FUNDAMENTOS DE PROGRAMACIÓN</li>
      <li> TALLER DE ÉTICA </li>
      <li> MATEMÁTICAS DISCRETAS  </li>
      <li> TALLER DE ADMINISTRACIÓN  </li>
      <li> FUNDAMENTOS DE INVESTIGACIÓN</li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
    
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CÁLCULO INTEGRAL </li>
      <li> PROGRAMACIÓN ORIENTADA A OBJETOS</li>
      <li> CONTABILIDAD FINANCIERA </li>
      <li> QUÍMICA  </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CÁLCULO VECTORIAL </li>
      <li> ESTRUCTURA DE DATOS</li>
      <li> CULTURA EMPRESARIAL </li>
      <li> INVESTIGACIÓN DE OPERACIONES </li>
      <li> SISTEMAS OPERATIVOS</li>
      <li> PROBABILIDAD Y ESTADÍSTICA</li>
      <li> FÍSICA GENERAL</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ECUACIONES DIFERENCIALES </li>
      <li> MÉTODOS NUMÉRICOS</li>
      <li> TÓPICOS AVANZADOS DE PROGRAMACIÓN </li>
      <li> FUNDAMENTOS DE BASES DE DATOS </li>
      <li> TALLER DE SISTEMAS OPERATIVOS</li>
      <li> PRINCIPIOS ELÉCTRICOS Y APLICACIONES DIGITALES </li>
      <li> GRAFICACIÓN</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> LENGUAJES Y AUTÓMATAS I </li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES</li>
      <li> TALLER DE BASES DE DATOS </li>
      <li> SIMULACIÓN </li>
      <li> FUNDAMENTOS DE INGENIERÍA DE SOFTWARE</li>
      <li> ARQUITECTURA DE COMPUTADORAS </li>
      <li> LENGUAJES DE INTERFAZ</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> LENGUAJES Y AUTÓMATAS II </li>
      <li> REDES DE COMPUTADORAS</li>
      <li> ADMINISTRACIÓN DE BASES DE DATOS</li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> INGENIERÍA DE SOFTWARES</li>
      <li> SISTEMAS PROGRAMABLES </li>
      <li> PROGRAMACIÓN WEB</li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> PROGRAMACIÓN LÓGICA Y FUNCIONAL </li>
      <li> CONMUTACIÓN Y ENRUTAMIENTO DE REDES DE DATOS</li>
      <li> DISEÑO DE EXPERIENCIA DE USUARIO UX</li>
      <li> SERVICIOS WEB </li>
      <li> PROCESAMIENTO DE DATOS O TECNOLOGÍAS WEB PARA MÓVIL </li>
      <li> SERVICIO SOCIAL</li>
      <li> NIVEL B1 (MCER) </li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li>INTELIGENCIA ARTIFICIAL </li>
      <li> ADMINISTRACIÓN DE REDES </li>
      <li> TALLER DE INVESTIGACIÓN II</li>
      <li> GESTIÓN DE PROYECTOS DE SOFTWARE </li>
      <li> NEGOCIOS ELECTRÓNICOS</li>
      <li> INTELIGENCIA DE NEGOCIOS O APLICACIONES MÓVILES</li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>





<!--  -->


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">
 <div class="ion-text-center">
<b> Retícula de Ingeniería en Sistemas Computacionales Modular ISIC-2010-224</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> FUNDAMENTOS DE PROGRAMACIÓN</li>
    <li> TALLER DE ÉTICA </li>
    <li> MATEMÁTICAS DISCRETAS </li>
    <li> TALLER DE ADMINISTRACIÓN  </li>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO INTEGRAL </li>
    <li> PROGRAMACIÓN ORIENTADA A OBJETOS</li>
    <li> CONTABILIDAD FINANCIERA </li>
    <li> QUÍMICA </li>
    <li> ÁLGEBRA LINEAL</li>
    <li> DESARROLLO SUSTENTABLE </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO VECTORIAL </li>
    <li> ESTRUCTURA DE DATOS</li>
    <li> CULTURA EMPRESARIAL </li>
    <li> INVESTIGACIÓN DE OPERACIONES </li>
    <li> SISTEMAS OPERATIVOS</li>
    <li> PROBABILIDAD Y ESTADÍSTICA </li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
      <li>  ECUACIONES DIFERENCIALES</li>
      <li> MÉTODOS NUMÉRICOS </li>
      <li> TÓPICOS AVANZADOS DE PROGRAMACIÓN </li>
      <li> TALLER DE SISTEMAS OPERATIVOS</li>
      <li> FÍSICA GENERAL </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PRINCIPIOS ELÉCTRICOS Y APLICACIONES DIGITALES</li>
    <li> FUNDAMENTOS DE BASES DE DATOS </li>
    <li> SIMULACIÓN</li>
    <li> FUNDAMENTOS DE INGENIERÍA DE SOFTWARE </li>
    <li> ARQUITECTURA DE COMPUTADORAS</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> LENGUAJES Y AUTÓMATAS I </li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES</li>
      <li> TALLER DE BASES DE DATOS </li>
      <li> INGENIERÍA DE SOFTWARE </li>
      <li> GRAFICACIÓN</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> LENGUAJES Y AUTÓMATAS II </li>
    <li> REDES DE COMPUTADORAS</li>
    <li> PROGRAMACIÓN WEB </li>
    <li> ADMINISTRACIÓN DE BASES DE DATOS </li>
    <li> LENGUAJES DE INTERFAZ</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PROGRAMACIÓN LÓGICA Y FUNCIONAL </li>
    <li> CONMUTACIÓN Y ENRUTAMIENTO DE REDES DE DATOS</li>
    <li> TALLER DE INVESTIGACIÓN I</li>
    <li> GESTIÓN DE PROYECTOS DE SOFTWARE </li>
    <li> SISTEMAS PROGRAMABLES</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE INVESTIGACIÓN II </li>
    <li> ADMINISTRACIÓN DE REDES</li>
    <li> DISEÑOS DE EXPERIENCIA DE USUARIO UX </li>
    <li> SERVICIOS WEB</li>
    <li> PROCESAMIENTO DE DATOS O TECNOLOGÍAS WEB PARA MÓVIL</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="naranja">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> INTELIGENCIA ARTIFICIAL </li>
      <li> NEGOCIOS ELECTRÓNICOS </li>
      <li> PROYECTO INTEGRADORINTELIGENCIA DE NEGOCIOS O APLICACIONES MÓVILES </li>
      <li> NIVEL B1 (MCER)</li>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>

<div align="center">
<img src="../../assets/imgsistemas/Logosistemas.png" />
</div>
</ion-content>
