<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería Informática</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content color="dark">

 
   <ion-card color="dark">
    <div align="center">
    <ion-img  src="../../assets/imgInformatica/Objetivo_ing _informatica.jpeg">
    </ion-img>
   </div>
   </ion-card>


   <ion-card color="verde">
   <ion-card color="dark" class="ion-padding" >
   <ion-slides pager="true" >
   <ion-slide>
  
   <ion-text color="light"><ion-button color="naranja">
     <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Objetivo General</ion-button>
    <div class="ion-text-justify">
    <h6>
    Formar profesionales competentes en el diseño, 
    desarrollo, implementación y administración de 
    servicios informáticos y gestión de proyectos 
    con una visión sistémica, tecnológica y estratégica, 
    ofreciendo soluciones innovadoras e integrales a las organizaciones, 
    de acuerdo con las necesidades globales, actuales y emergentes, comprometidos 
    con su entorno, desempeñándose con actitud ética, emprendedora y de liderazgo.
  
  </h6>
</div>
  </ion-text>
</ion-slide>
<ion-slide>
  <ion-text color="light"><ion-button color="naranja">
    <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Misión</ion-button>
   <div class="ion-text-justify">
   <h6>
      La División de ingeniería Informática tiene como Misión, 
      formar profesionales competentes en el diseño, desarrollo, 
      implementación y administración de proyectos informáticos con 
      un enfoque tecnológico y de calidad; ofreciendo soluciones innovadoras, 
      integrales y de vanguardia para las organizaciones, con el compromiso sustentable
       de su entorno y desempeñándose con actitud ética, emprendedora y de liderazgo.
  </h6>
</div>
  </ion-text>
</ion-slide>
<ion-slide>
  <ion-text color="light"><ion-button color="naranja">
    <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Visión</ion-button>
   <div class="ion-text-justify">
   <h6>
      Ser la carrera con perfil tecnológico más reconocida en la región de Teziutlán, 
      Puebla, que ofrezca un proceso de enseñanza-aprendizaje certificado y acreditado,
       comprometida en la construcción e implementación de soluciones Informáticas de
        vanguardia, así como la formación integral del alumnado, contribuyendo al
         desarrollo generalizado y sustentable de las organizaciones en la región.
  </h6>
</div>
  </ion-text>

   
</ion-slide>
   
   </ion-slides>
  </ion-card>
</ion-card>

  <div>
   
    <ion-card button (click)="cardClick()"
   class="accordion" color="naranja" >
   <div class="ion-text-center"><b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp;Retícula de Ingeniería Informática Escolarizado IINF-2010-220</b></div></ion-card>
  <div class="panel">  


 
  <div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
    <ul>
     
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> MATEMÁTICAS DISCRETAS</li>
      <li> FUNDAMENTOS DE PROGRAMACIÓN </li>
      <li> TALLER DE ÉTICA </li>
      <li> CÁLCULO DIFERENCIAL </li>
      <li> ADMINISTRACIÓN PARA INFORMÁTICA </li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
  
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FUNDAMENTOS DE SISTEMAS DE INFORMACIÓN </li>
      <li> FÍSICA PARA INFORMÁTICA</li>
      <li> PROGRAMACIÓN ORIENTADA A OBJETOS </li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> CÁLCULO INTEGRAL</li>
      <li> CONTABILIDAD FINANCIERA </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> SISTEMAS OPERATIVOS I </li>
      <li> SISTEMAS ELECTRÓNICOS PARA INFORMÁTICA</li>
      <li> ESTRUCTURA DE DATOS </li>
      <li> PROBABILIDAD Y ESTADÍSTICA </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> COSTOS EMPRESARIALES </li>
      <li> TALLER DE INVESTIGACIÓN I</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ARQUITECTURA DE COMPUTADORAS </li>
      <li> ANÁLISIS Y MODELADO DE SISTEMAS DE INFORMACIÓN</li>
      <li> ADMINISTRACIÓN Y ORGANIZACIÓN DE DATOS </li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES </li>
      <li> SISTEMAS OPERATIVOS II</li>
      <li> FUNDAMENTOS DE BASE DE DATOS </li>
      <li> INVESTIGACIÓN DE OPERACIONES</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TECNOLOGÍAS E INTERFACES DE COMPUTADORAS </li>
      <li> FUNDAMENTOS DE GESTIÓN DE SERVICIOS DE TI</li>
      <li> DESARROLLO DE APLICACIONES WEB</li>
      <li> REDES DE COMPUTADORAS </li>
      <li> TALLER DE LEGISLACIÓN INFORMÁTICA</li>
      <li> TALLER DE BASES DE DATOS </li>
      <li> TALLER DE INVESTIGACIÓN II</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CALIDAD DE LOS SISTEMAS DE INFORMACIÓN </li>
      <li> ESTRATEGIAS DE GESTIÓN DE SERVICIOS DE TI</li>
      <li> PROGRAMACIÓN EN AMBIENTE CLIENTE-SERVIDOR</li>
      <li> INTERCONECTIVIDAD DE REDES </li>
      <li> ADMINISTRACIÓN DE SERVIDORES</li>
      <li> TÓPICOS DE BASE DE DATOS </li>
      <li> SEGURIDAD INFORMÁTICA</li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> DESARROLLO E IMPLEMENTACIÓN DE SISTEMAS DE INFORMACIÓN </li>
      <li> DESARROLLO DE APLICACIONES PARA DISPOSITIVOS MÓVILES</li>
      <li> PROGRAMACIÓN AVANZADA DE SOFTWARE</li>
      <li> SOFTWARE INTERACTIVO Y VIDEOJUEGOS </li>
      <li> CÓMPUTO EN LA NUBE</li>
      <li> NIVEL B1 (MCER) </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> AUDITORIA INFORMÁTICA </li>
      <li> ADMINISTRACIÓN DE LOS RECURSOS Y FUNCIÓN INFORMÁTICA</li>
      <li> TALLER DE EMPRENDEDORES</li>
      <li> INTELIGENCIA DE NEGOCIOS </li>
      <li> REDES INALÁMBRICAS</li>
      <li> INTERNET DE LAS COSAS </li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>

<div>
<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">
 <div class="ion-text-center">
<b><ion-icon name="caret-down-outline"></ion-icon>
  &nbsp; Retícula de Ingeniería Informática Modular IINF-2010-220</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> MATEMÁTICAS DISCRETAS</li>
    <li> FUNDAMENTOS DE PROGRAMACIÓN </li>
    <li> TALLER DE ÉTICA </li>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> ADMINISTRACIÓN PARA INFORMÁTICA </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE SISTEMAS DE INFORMACIÓN </li>
    <li> FÍSICA PARA INFORMÁTICA</li>
    <li> PROGRAMACIÓN ORIENTADA A OBJETOS </li>
    <li> DESARROLLO SUSTENTABLE </li>
    <li> CÁLCULO INTEGRAL</li>
    <li> CONTABILIDAD FINANCIERA </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> SISTEMAS OPERATIVOS I </li>
    <li> SISTEMAS ELECTRÓNICOS PARA INFORMÁTICA</li>
    <li> ESTRUCTURA DE DATOS </li>
    <li> PROBABILIDAD Y ESTADÍSTICA </li>
    <li> ÁLGEBRA LINEAL</li>
    <li> COSTOS EMPRESARIALES </li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li>  SISTEMAS OPERATIVOS II</li>
      <li> ARQUITECTURA DE COMPUTADORAS </li>
      <li> ADMINISTRACIÓN Y ORGANIZACIÓN DE DATOS </li>
      <li> INVESTIGACIÓN DE OPERACIONES</li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE BASES DE DATOS</li>
    <li> TECNOLOGÍAS E INTERFACES DE COMPUTADORAS </li>
    <li> TALLER DE EMPRENDEDORES</li>
    <li> ANÁLISIS Y MODELADO DE SISTEMAS DE INFORMACIÓN </li>
    <li> REDES DE COMPUTADORAS</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> TÓPICOS DE BASE DE DATOS </li>
      <li> DESARROLLO E IMPLEMENTACIÓN DE SISTEMAS DE INFORMACIÓN</li>
      <li> PROGRAMACIÓN EN AMBIENTE CLIENTE-SERVIDOR</li>
      <li> FUNDAMENTOS DE GESTIÓN DE SERVICIOS DE TI </li>
      <li> INTERCONECTIVIDAD DE REDES</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TÓPICOS DE BASE </li>
    <li> TALLER DE INVESTIGACIÓN I</li>
    <li> DESARROLLO DE APLICACIONES WEB</li>
    <li> ESTRATEGIAS DE GESTIÓN DE SERVICIOS DE TI </li>
    <li> ADMINISTRACIÓN DE SERVIDORES</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> INTELIGENCIA DE NEGOCIOS </li>
    <li> TALLER DE INVESTIGACIÓN II</li>
    <li> DESARROLLO DE APLICACIONES DE DISPOSITIVOS MÓVILES</li>
    <li> CALIDAD DE LOS SISTEMAS DE INFORMACIÓN </li>
    <li> SEGURIDAD INFORMÁTICA</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE LEGISLACIÓN INFORMÁTICA </li>
    <li> SISTEMAS EMBEBIDOS</li>
    <li> COMERCIO ELECTRÓNICO </li>
    <li> ADMINISTRACIÓN DE LOS RECURSOS Y FUNCIÓN INFORMÁTICA</li>
    <li> AUDITORIA INFORMÁTICA</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="verde">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> SEGURIDAD EN INFRAESTRUCTURA EN TI </li>
      <li> TECNOLOGÍAS INNOVADORAS</li>
      <li> PROYECTO INTEGRADOR </li>
      <li> NIVEL B1 (MCER)</li>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>


</div>
 
 <!--Perfil del Aspirante-->
 <ion-card color="light">
   
 
 <ion-card color="naranja"> 
 <div align="center">
 <ion-card-title><b>Perfil del Aspirante</b></ion-card-title>
 </div>
 
 </ion-card>
 
 <ion-card color="light">
 <div class="ion-text-justify">
 <h6>
  <ion-text color="dark">El aspirante a cursar la carrera Ingeniería Informática en el Instituto 
 Tecnológico Superior de Teziutlán deberá haber concluido el bachillerato 
 general, y contar preferentemente con:
 </ion-text>
 </h6>
 </div>
 </ion-card>



 <ion-card color="dark">
 <ion-slides pager="true">
 
 <ion-slide>
 <div class="ion-text-justify">
 <div align="center">
 <ion-text color="light"><b>Conocimientos</b></ion-text> </div>
 <div align="center">
 <ion-img style="width: 150px; height: 150px;" src="../../assets/imgInformatica/Conocimientos.png"></ion-img>
 </div>
 </div>
 <ul>
 <li><h6>Manejo básico de una computadora</h6></li>
 <li><h6>Uso básico de aplicaciones de oficina</h6></li>
 <li><h6>Conceptos básicos de geometría y trigonometría</h6></li>
 <li><h6>Conceptos básicos de operaciones algebraicas y ecuaciones</h6></li>
 </ul>
 
 </ion-slide>
 
 <ion-slide>
 <div class="ion-text-justify">
 <div align="center">
 <ion-text color="light"> <b>Habilidades</b></ion-text></div>
 <div align="center">
 <ion-img style="width: 150px; height: 150px;" src="../../assets/imgInformatica/Habilidades.png"></ion-img>
 </div>
 </div>
 <ul>
 <li><h6>Tener hábitos y métodos adecuados para el estudio</h6></li>
 <li><h6>Expresarse correctamente en forma oral y escrita</h6></li>
 <li><h6>Analizar y sintetizar problemas prácticos y de la vida real</h6></li>
 <li><h6>Razonamiento lógico matemático</h6></li>
 <li><h6>Resolución de problemas</h6></li>
 </ul>
 </ion-slide>
 
 <ion-slide>
 <div class="ion-text-justify">
 <div align="center">
 <ion-text color="light"><b>Intereses</b></ion-text></div>
 <div align="center">
 <ion-img style="width: 150px; height: 150px;" src="../../assets/imgInformatica/Intereses.png"></ion-img>
 </div>
 </div>
 <ul>
 <li><h6>Uso avanzado de la tecnología</h6></li>
 <li><h6>Investigación documental</h6></li>
 <li><h6>Creación de soluciones prácticas e innovadoras a problemas de la vida real</h6></li>
 <li><h6>Aplicación de las matemáticas, tecnologías de la información y comunicación</h6></li>
 </ul>
</ion-slide>
 
<ion-slide>
 <div class="ion-text-justify">
 <div align="center">
 <ion-text color="light"><b>Actitudes</b></ion-text></div>
 <div align="center">
 <ion-img style="width: 150px; height: 150px;" src="../../assets/imgInformatica/Actitudes.png"></ion-img>
 </div>
 </div>
 <ul>
 <li><h6>Compromiso</h6></li>
 <li><h6>Responsabilidad</h6></li>
 <li><h6>Proactividad</h6></li>
 <li><h6>Deseo de aprender</h6></li>
 <li><h6>Trabajo en equipo</h6></li>
 </ul>
</ion-slide>
 
 
 </ion-slides>
</ion-card>



<div align="center">
<img src="../../assets/imgInformatica/logoInformatica.png" />
</div>
</ion-card>

</ion-content>