<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería Informática</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
   <ion-card color="dark">
    <div align="center">
    <ion-img style="width: 300px; height: 300px;" src="../../assets/imgInformatica/Objetivo_ing _informatica.jpeg"></ion-img>
   </div>
   </ion-card>

   <!-- Objetivo General -->
   <ion-card color="dark">
   <ion-slides pager="true">
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Objetivo General</b></font></div><br>
    <h6><font face="Verdana"><font color="white">Formar profesionales competentes en el diseño, desarrollo, 
    implementación y administración de servicios informáticos y gestión 
    de proyectos con una visión sistémica, tecnológica y estratégicas.</font></font></h6>
    </div>
    </ion-slide>

    <!-- Misión-->
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Misión</b></font></div><br>
    <h6><font face="Verdana"><font color="white">La División de ingeniería Informática tiene como 
    Misión, formar profesionales competentes en el diseño, desarrollo, implementación y administración de 
    proyectos informáticos con un enfoque tecnológico y de calidad.</font></font></h6>
    </div>
    </ion-slide>

    <!-- Visión -->
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"><b>Visión</b></font></div><br>
    <h6><font face="Verdana"><font color="white">Ser la carrera con perfil tecnológico más reconocida 
    en la región de Teziutlán, Puebla, que ofrezca un proceso de enseñanza-aprendizaje certificado y acreditado, comprometida en la construcción e 
    implementación de soluciones Informáticas de vanguardia.</font></font></h6>
    </div>
    </ion-slide>
   </ion-slides>
   </ion-card>
  














  <div>
    <ion-card button (click)="cardClick()"
   class="accordion" style="border-radius: 5px;" color="verde" > 
   <div class="ion-text-center"><b>Retícula de Ingeniería Informática Escolarizado IINF-2010-220</b></div></ion-card>
  <div class="panel">  


 
  <div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
    <ul>
      <font face="Verdana">
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> MATEMÁTICAS DISCRETAS</li>
      <li> FUNDAMENTOS DE PROGRAMACIÓN </li>
      <li> TALLER DE ÉTICA </li>
      <li> CÁLCULO DIFERENCIAL </li>
      <li> ADMINISTRACIÓN PARA INFORMÁTICA </li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
    </font>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FUNDAMENTOS DE SISTEMAS DE INFORMACIÓN </li>
      <li> FÍSICA PARA INFORMÁTICA</li>
      <li> PROGRAMACIÓN ORIENTADA A OBJETOS </li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> CÁLCULO INTEGRAL</li>
      <li> CONTABILIDAD FINANCIERA </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> SISTEMAS OPERATIVOS I </li>
      <li> SISTEMAS ELECTRÓNICOS PARA INFORMÁTICA</li>
      <li> ESTRUCTURA DE DATOS </li>
      <li> PROBABILIDAD Y ESTADÍSTICA </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> COSTOS EMPRESARIALES </li>
      <li> TALLER DE INVESTIGACIÓN I</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ARQUITECTURA DE COMPUTADORAS </li>
      <li> ANÁLISIS Y MODELADO DE SISTEMAS DE INFORMACIÓN</li>
      <li> ADMINISTRACIÓN Y ORGANIZACIÓN DE DATOS </li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES </li>
      <li> SISTEMAS OPERATIVOS II</li>
      <li> FUNDAMENTOS DE BASE DE DATOS </li>
      <li> INVESTIGACIÓN DE OPERACIONES</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TECNOLOGÍAS E INTERFACES DE COMPUTADORAS </li>
      <li> FUNDAMENTOS DE GESTIÓN DE SERVICIOS DE TI</li>
      <li> DESARROLLO DE APLICACIONES WEB</li>
      <li> REDES DE COMPUTADORAS </li>
      <li> TALLER DE LEGISLACIÓN INFORMÁTICA</li>
      <li> TALLER DE BASES DE DATOS </li>
      <li> TALLER DE INVESTIGACIÓN II</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CALIDAD DE LOS SISTEMAS DE INFORMACIÓN </li>
      <li> ESTRATEGIAS DE GESTIÓN DE SERVICIOS DE TI</li>
      <li> PROGRAMACIÓN EN AMBIENTE CLIENTE-SERVIDOR</li>
      <li> INTERCONECTIVIDAD DE REDES </li>
      <li> ADMINISTRACIÓN DE SERVIDORES</li>
      <li> TÓPICOS DE BASE DE DATOS </li>
      <li> SEGURIDAD INFORMÁTICA</li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> DESARROLLO E IMPLEMENTACIÓN DE SISTEMAS DE INFORMACIÓN </li>
      <li> DESARROLLO DE APLICACIONES PARA DISPOSITIVOS MÓVILES</li>
      <li> PROGRAMACIÓN AVANZADA DE SOFTWARE</li>
      <li> SOFTWARE INTERACTIVO Y VIDEOJUEGOS </li>
      <li> CÓMPUTO EN LA NUBE</li>
      <li> NIVEL B1 (MCER) </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> AUDITORIA INFORMÁTICA </li>
      <li> ADMINISTRACIÓN DE LOS RECURSOS Y FUNCIÓN INFORMÁTICA</li>
      <li> TALLER DE EMPRENDEDORES</li>
      <li> INTELIGENCIA DE NEGOCIOS </li>
      <li> REDES INALÁMBRICAS</li>
      <li> INTERNET DE LAS COSAS </li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>





<!--  -->


<div>
  <ion-card button (click)="cardClick()"
 class="accordion" style="border-radius: 5px;" color="verde">
 <div class="ion-text-center">
<b> Retícula de Ingeniería Informática Modular IINF-2010-220</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> MATEMÁTICAS DISCRETAS</li>
    <li> FUNDAMENTOS DE PROGRAMACIÓN </li>
    <li> TALLER DE ÉTICA </li>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> ADMINISTRACIÓN PARA INFORMÁTICA </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE SISTEMAS DE INFORMACIÓN </li>
    <li> FÍSICA PARA INFORMÁTICA</li>
    <li> PROGRAMACIÓN ORIENTADA A OBJETOS </li>
    <li> DESARROLLO SUSTENTABLE </li>
    <li> CÁLCULO INTEGRAL</li>
    <li> CONTABILIDAD FINANCIERA </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> SISTEMAS OPERATIVOS I </li>
    <li> SISTEMAS ELECTRÓNICOS PARA INFORMÁTICA</li>
    <li> ESTRUCTURA DE DATOS </li>
    <li> PROBABILIDAD Y ESTADÍSTICA </li>
    <li> ÁLGEBRA LINEAL</li>
    <li> COSTOS EMPRESARIALES </li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li>  SISTEMAS OPERATIVOS II</li>
      <li> ARQUITECTURA DE COMPUTADORAS </li>
      <li> ADMINISTRACIÓN Y ORGANIZACIÓN DE DATOS </li>
      <li> INVESTIGACIÓN DE OPERACIONES</li>
      <li> FUNDAMENTOS DE TELECOMUNICACIONES </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE BASES DE DATOS</li>
    <li> TECNOLOGÍAS E INTERFACES DE COMPUTADORAS </li>
    <li> TALLER DE EMPRENDEDORES</li>
    <li> ANÁLISIS Y MODELADO DE SISTEMAS DE INFORMACIÓN </li>
    <li> REDES DE COMPUTADORAS</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> TÓPICOS DE BASE DE DATOS </li>
      <li> DESARROLLO E IMPLEMENTACIÓN DE SISTEMAS DE INFORMACIÓN</li>
      <li> PROGRAMACIÓN EN AMBIENTE CLIENTE-SERVIDOR</li>
      <li> FUNDAMENTOS DE GESTIÓN DE SERVICIOS DE TI </li>
      <li> INTERCONECTIVIDAD DE REDES</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TÓPICOS DE BASE </li>
    <li> TALLER DE INVESTIGACIÓN I</li>
    <li> DESARROLLO DE APLICACIONES WEB</li>
    <li> ESTRATEGIAS DE GESTIÓN DE SERVICIOS DE TI </li>
    <li> ADMINISTRACIÓN DE SERVIDORES</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> INTELIGENCIA DE NEGOCIOS </li>
    <li> TALLER DE INVESTIGACIÓN II</li>
    <li> DESARROLLO DE APLICACIONES DE DISPOSITIVOS MÓVILES</li>
    <li> CALIDAD DE LOS SISTEMAS DE INFORMACIÓN </li>
    <li> SEGURIDAD INFORMÁTICA</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE LEGISLACIÓN INFORMÁTICA </li>
    <li> SISTEMAS EMBEBIDOS</li>
    <li> COMERCIO ELECTRÓNICO </li>
    <li> ADMINISTRACIÓN DE LOS RECURSOS Y FUNCIÓN INFORMÁTICA</li>
    <li> AUDITORIA INFORMÁTICA</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="naranja">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> SEGURIDAD EN INFRAESTRUCTURA EN TI </li>
      <li> TECNOLOGÍAS INNOVADORAS</li>
      <li> PROYECTO INTEGRADOR </li>
      <li> NIVEL B1 (MCER)</li>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>

<div align="center">
<img src="../../assets/imgInformatica/logoInformatica.png" />
</div>
</ion-content>
