<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería en  Industrias Alimentarias</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img src="../../assets/imgalimentarias/Alim.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="verde">
   <ion-card color="dark" class="ion-padding" >
   <ion-slides pager="true">
    <ion-slide>

   <ion-text color="light"><ion-button color="naranja">
     <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Objetivo General</ion-button>
     <div class="ion-text-justify">
     <h6>Formar ingenieros en Industrias Alimentarias con 
      sólidos conocimientos científicos y tecnológicos, para desarrollar, mejorar y producir alimentos 
      inocuos e innovadores; bajo un esquema ético y sustentable acorde a las necesidades de la sociedad
       en el ámbito regional, nacional e internacional.
      </h6>
    </div>
      </ion-text>
    </ion-slide>


    <ion-slide>
      <ion-text color="light"><ion-button color="naranja">
        <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Misión</ion-button>
       <div class="ion-text-justify">
       <h6>Formar Ingenieros en Industrias Alimentarias con habilidades, 
      conocimientos tecnológicos y científicos, capaces de innovar, diseñar, optimizar y garantizar la calidad 
      en los procesos de producción y transformación de productos alimentarios.</h6>
    </div>
      </ion-text>
    </ion-slide>
    
    <ion-slide>
      <ion-text color="light"><ion-button color="naranja">
        <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Visión</ion-button>
       <div class="ion-text-justify">
       <h6>Para el año 2030 el Programa Educativo Ingeniería en 
      Industrias Alimentarias, del Instituto Tecnológico Superior de Teziutlán, será reconocido por 
      la calidad humana y profesional de los egresados, con una alta aceptación en el campo laboral.

  </h6>
</div>
  </ion-text>
</ion-slide>
   
   </ion-slides>
  </ion-card>
</ion-card>



  <div>
    <ion-card button 
   class="accordion" style="border-radius: 5px;" color="naranja" > 
   <div class="ion-text-center"><b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp;Retícula de Ingeniería en Industrias Alimentarias Escolarizado IIAL-2010-219 </b></div></ion-card>
    <div class="panel">  


 
      <div>
        <ion-card button 
       class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
      <div class="panel">  
          <ul>
      <li>BIOLOGÍA </li>
      <li> QUÍMICA INORGÁNICA</li>
      <li> CÁLCULO DIFERENCIAL </li>
      <li> TALLER DE ÉTICA </li>
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> INTRODUCCIÓN A LA INDUSTRIA ALIMENTARIA </li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
   
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> LABORATORIO DE
        QUÍMICA ANALÍTICA </li>
      <li> QUÍMICA ORGÁNICA</li>
      <li> CÁLCULO INTEGRAL </li>
      <li> ÁLGEBRA LINEAL </li>
      <li> PROBABILIDAD Y ESTADÍSTICA</li>
      <li> FUNDAMENTOS DE FÍSICA </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> BIOQUÍMICA DE ALIMENTOS I </li>
      <li> ECUACIONES DIFERENCIALES</li>
      <li> TERMODINÁMICA  </li>
      <li> ANÁLISIS DE ALIMENTOS </li>
      <li> DISEÑOS EXPERIMENTALES</li>
      <li>DESARROLLO SUSTENTABLE </li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> BIOQUÍMICA DE ALIMENTOS II </li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> FLUJO DE FLUIDOS </li>
      <li> MICROBIOLOGÍA </li>
      <li> TECNOLOGÍA DE CONSERVACIÓN</li>
      <li> TALLER DE CONTROL ESTADÍSTICO DE PROCESOS</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> EVALUACIÓN SENSORIAL </li>
      <li> TECNOLOGÍA DE FRUTAS, HORTALIZAS Y CONFITERÍA</li>
      <li> MICROBIOLOGÍA DE ALIMENTOS</li>
      <li>OPERACIONES DE TRANSPARENCIA DE CALOR</li>
      <li> TALLER DE INVESTIGACIÓN II</li>
      <li> PROGRAMACIÓN</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> BIOTECNOLOGÍA </li>
      <li>GESTIÓN DE LA CALIDAD E INOCUIDAD ALIMENTARIA</li>
      <li> TECNOLOGÍA DE CÁRNICOS </li>
      <li> INNOVACIÓN Y DESARROLLO DE NUEVOS PRODUCTOS </li>
      <li> OPERACIONES DE TRANSFERENCIA DE MASA</li>
      <li> INTRODUCCIÓN A LA ADMINISTRACIÓN Y ECONOMÍA </li>
      <li> TECNOLOGÍA DE LÁCTEOS </li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> OPERACIONES MECÁNICAS </li>
      <li> TECNOLOGÍA DE CEREALES Y OLEAGINOSAS</li>
      <li> DISEÑO DE PLANTAS ALIMENTARIAS</li>
      <li>TECNOLOGÍA E INNOVACIÓN DE ENVASES </li>
      <li> SERVICIO SOCIAL</li>
      <li> NIVEL B1 (MCER) </li>
      <li> EVENTOS ACADÉMICOS (DE 1 A 7 SEMESTRE)</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
      <li> DISEÑO E IMPARTICIÓN DE CURSOS PRESENCIALES</li>
      <li>LIDERAZGO Y DESARROLLO DE DESTREZAS DIRECTIVAS</li>
      <li> DESARROLLO DE LA CADENA ALIMENTARIA </li>
      <li> TÓPICOS DE LA TOXICOLOGÍA EN LA INDUSTRIA ALIMENTARIA</li>
      <li> TECNOLOGÍA DE BEBIDAS </li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>





<!--  -->


<div>
  <ion-card button  class="accordion" style="border-radius: 5px;" color="naranja">
    <div class="ion-text-center">
   <b><ion-icon name="caret-down-outline"></ion-icon>
     &nbsp;Retícula de Ingeniería en Industrias Alimentarias Modular IIAL-2010-219 </b></div></ion-card>
     <div class="panel">  


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li>BIOLOGÍA </li>
    <li> QUÍMICA INORGÁNICA</li>
    <li> CÁLCULO DIFERENCIAL </li>
    <li> TALLER DE ÉTICA </li>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> INTRODUCCIÓN A LA INDUSTRIA ALIMENTARIA </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> LABORATORIO DE QUÍMICA ANALÍTICA </li>
    <li> QUÍMICA ORGÁNICA</li>
    <li> CÁLCULO INTEGRAL </li>
    <li> ÁLGEBRA LINEAL </li>
    <li> PROBABILIDAD Y ESTADÍSTICA</li>
    <li> FUNDAMENTOS DE FÍSICA </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> BIOQUÍMICA DE ALIMENTOS I </li>
    <li> ECUACIONES DIFERENCIALES</li>
    <li> TERMODINÁMICA </li>
    <li> ANÁLISIS DE ALIMENTOS </li>
    <li> DISEÑOS EXPERIMENTALES</li>
    <li> DESARROLLO SUSTENTABLE </li>
  </ul>
</div>
</div>

<div>
<ion-card button  
class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li>  BIOQUÍMICA DE ALIMENTOS II</li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> FLUJO DE FLUIDOS </li>
      <li> MICROBIOLOGÍA </li>
      <li> PROGRAMACIÓN </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button  
class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> EVALUACIÓN SENSORIAL</li>
    <li> TECNOLOGÍA DE FRUTAS, HORTALIZAS Y CONFITERÍA </li>
    <li> MICROBIOLOGÍA DE ALIMENTOS </li>
    <li> OPERACIONES DE TRANSPARENCIA DE CALOR </li>
    <li> TALLER DE CONTROL ESTADÍSTICO DE PROCESOS </li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> BIOTECNOLOGÍA </li>
      <li> GESTIÓN DE LA CALIDAD E INOCUIDAD ALIMENTARIA</li>
      <li> TECNOLOGÍA DE CÁRNICOS</li>
      <li> TALLER DE INVESTIGACIÓN II </li>
      <li> TECNOLOGÍA DE CONSERVACIÓN</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> OPERACIONES MECÁNICAS </li>
    <li> INNOVACIÓN Y DESARROLLO DE NUEVOS PRODUCTOS</li>
    <li> OPERACIONES DE TRANSFERENCIA DE MASA</li>
    <li> INTRODUCCIÓN A LA ADMINISTRACIÓN Y ECONOMÍA</li>
    <li>TECNOLOGÍA DE LÁCTEOS</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
    <li> DISEÑO E IMPARTICIÓN DE CURSOS PRESENCIALES</li>
    <li> TECNOLOGÍA DE CEREALES Y OLEAGINOSAS</li>
    <li> DISEÑO DE PLANTAS ALIMENTARIAS </li>
    <li> TECNOLOGÍA E INNOVACIÓN DE ENVASES</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button  
class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> LIDERAZGO Y DESARROLLO DE DESTREZAS DIRECTIVAS </li>
    <li> DESARROLLO DE LA CADENA ALIMENTARIA</li>
    <li> TÓPICOS DE LA TOXICOLOGÍA EN LA INDUSTRIA ALIMENTARIA </li>
    <li> TECNOLOGÍA DE BEBIDAS</li>
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button  
  class="accordion" style="border-radius: 5px;" color="verde">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> RESIDENCIA PROFESIONAL </li>
      <li> NIVEL B1 (MCER)</li>
    </ul>
  </div>
  </div>



</div>
</div>

<!--Perfil del Aspirante-->
<ion-card color="light">
   
 
  <ion-card color="naranja"> 
  <div align="center">
  <ion-card-title><b>Perfil del Aspirante</b></ion-card-title>
  </div>
  
  </ion-card>
  
  <ion-card color="light">
  <div class="ion-text-justify">
  <h6>
   <ion-text color="dark">Los aspirantes a ingresar en el programa de 
     Ingeniería en Industrias Alimentarias, deberán contar con:
  </ion-text>
  </h6>
  </div>
  </ion-card>
 
 
 
  <ion-card color="dark">
  <ion-slides pager="true">
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Conocimientos</b></ion-text> </div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgalimentarias/AlConocimientos.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Una sólida formación en matemáticas, física y química de nivel medio superior</h6></li>
  <li><h6>habilidad analítica y creativa para la solución de problemas</h6></li>
  <li><h6> facilidad en el  cálculo cualitativo y cuantitativo.</h6></li>
  <li><h6>Conceptos básicos de operaciones algebraicas y ecuaciones</h6></li>
  </ul>
  
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"> <b>Habilidades</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgalimentarias/AHabilidades.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Tener hábitos y métodos adecuados para el estudio</h6></li>
  <li><h6>Expresarse correctamente en forma oral y escrita</h6></li>
  <li><h6>Analizar y sintetizar problemas prácticos y de la vida real</h6></li>
  <li><h6>Razonamiento lógico matemático</h6></li>
  </ul>
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Intereses</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgalimentarias/AlIntereses.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Estudio de las ciencias básicas</h6></li>
  <li><h6>Investigación documental</h6></li>
  <li><h6>Interés para dar soluciones prácticas a los problemas.</h6></li>
  <li><h6>Poseer habilidades para el razonamiento lógico</h6></li>
  </ul>
 </ion-slide>
  
 <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Actitudes</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgalimentarias/AlActitudes.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Compromiso</h6></li>
  <li><h6>Responsabilidad</h6></li>
  <li><h6>Creatividad</h6></li>
  <li><h6>Deseo de aprender</h6></li>
  <li><h6>Trabajo en equipo</h6></li>
  </ul>
 </ion-slide>
  
  
  </ion-slides>
 </ion-card>
 


<div align="center">
<img style="width: 250px; height: 80px;" src="../../assets/imgalimentarias/alimentariasLOGO.png" />
</div>
</ion-card>
</ion-content>
