<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Catálogo de Certificaciones ITST</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" >
  
  <ion-card-header>
    <ion-card-title><ion-text color="dark">
      <div class="ion-text-justify"><h6>
      El TEC de teziutlan cuenta con diversas 
      certificaciones para todas las carreras, existe un convenio con 3 casas 
      certificadoras.</h6></div></ion-text></ion-card-title>
  </ion-card-header>

 

 <!-- Casa Cisco-->
<ion-card color="dark">
  <div align="center">
    <p>
  <img src="../../assets/certificaciones/cisco2.png" />
  </div>
  <ion-card-content>
  <div align="center">
  <ion-card-title>
 Cisco Certified Network Associate (CCNA)
  </ion-card-title>
  </div>
 <!-- Acrodeon-->

  <div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="naranja">
  <div class="ion-text-center">
  <b>Certificaciones Cisco</b></div></ion-card>
  <div class="panel"> 
  
  <ion-card color="light">
    <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/CCNA1.png"></ion-img>
  <ion-card-content>
  <ion-card-title>
    CCNA 1 R&S: Introduction to Networks
  </ion-card-title>
  <div class="ion-text-justify">
  <p>
    <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
   Adquirir las competencias necesarias para mejorar el acceso
     a los equipos y aprender a configurar básicamente los aspectos físicos 
     (hardware) y lógicos (software) de una Red.
     Avalada y reconocida en todo el mundo.
  
  </p>

  <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
    <ion-item color="naranja">
      <ion-icon name="people"></ion-icon>
      <ion-label>&nbsp;<b>Dirigido a:</b><br>
      </ion-label>    
    </ion-item>
    
    <ul>
      <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
      <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICAL</h6></li>
    </ul>
    
  </ion-card>


  </div>
  </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/CCNA21.png"></ion-img>
    <ion-card-content>
    <ion-card-title>
      CCNA 2 R&S: Routing and Switching Essentials
    </ion-card-title>
    <div class="ion-text-justify">
    <p>
      <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
    Esta certificación cubre la arquitectura, los componentes y las operaciones de 
    enrutadores y conmutadores en redes pequeñas e introduce redes de área local 
    inalámbricas (WLAN) y conceptos de seguridad.
    </p>
    
    <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
      <ion-item color="naranja">
        <ion-icon name="people" ></ion-icon>
        <ion-label>&nbsp;<b>Dirigido a:</b><br>
        </ion-label>    
      </ion-item>
      <ul>
        <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
      </ul>
    </ion-card>

    </div>
    </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/CCNA3.jpeg"></ion-img>
      <ion-card-content>
      <ion-card-title>
        CCNA 3 R&S: Scaling Networks
      </ion-card-title>
      <div class="ion-text-justify">
      <p>
        <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
        Este curso describe la arquitectura, los componentes y las operaciones de enrutadores 
        y conmutadores en redes más grandes y complejas. Los estudiantes aprenden a configurar
         enrutadores y conmutadores para una funcionalidad avanzada. 
      </p>

      <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
        <ion-item color="naranja">
          <ion-icon name="people" ></ion-icon>
          <ion-label>&nbsp;<b>Dirigido a:</b><br>
          </ion-label>    
        </ion-item>
        <ul>
          <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
        </ul>
      </ion-card>

      </div>
      </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/CCNA4.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          CCNA 4 R&S: Connecting Networks
        </ion-card-title>
        <div class="ion-text-justify">
        <p>
          <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          En este módulo se introducen  conceptos  y prácticas referidas a la implementación de 
          Redes de Área Amplia (WAN), y se agregan aspectos relativos a seguridad en redes y 
          direccionamiento IP acorde a las necesidades de Redes pequeñas y medianas.<br>
          Con la aprobación de este módulo, se completa CCNA, que es la base de las carreras
           de Cisco Systems.
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
          </ul>
        </ion-card>
  
        </div>
        </ion-card-content>
        </ion-card>

        <ion-card color="light">
          <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/INTERNET-OF-THINGS.png"></ion-img>
          <ion-card-content>
          <ion-card-title>
            CISCO IOT FUNDAMENTALS: CONNECTING THINGS, VERSIÓN 2.0.
          </ion-card-title>
          <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
            En este módulo se aprende el IOT, lo principal sobre este campo emergente y 
             fascinante, con actividades prácticas divertidas para modelar sensores de conexión 
             segura con servicios en la nube mediante redes IP y recopilar datos en un sistema 
             integral de Internet de las cosas (IoT).<br>Se recomiendan conocimientos básicos sobre 
             programación (por ejemplo, haber hecho PCAP: Programming Essentials
              in Python), redes y electrónica.
          </p>

          <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
            <ion-item color="naranja">
              <ion-icon name="people" ></ion-icon>
              <ion-label>&nbsp;<b>Dirigido a:</b><br>
              </ion-label>    
            </ion-item>
            <ul>
              <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
              <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            </ul>
          </ion-card>

          </div>
          </ion-card-content>
          </ion-card>

  
  </div>
  </div>
  

 <!-- Fin-->

  </ion-card-content>
  </ion-card>


 
 <!-- Casa ETC IBEROAMERICA-->
 <ion-card color="dark">
  <div align="center">
  <img src="../../assets/certificaciones/certificacionETC1.png" />
  </div>
  <ion-card-content>
  <div align="center">
  <ion-card-title>
    ETC IBEROAMÉRICA
  </ion-card-title>
  </div>
 <!-- Acordeon-->

  <div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="naranja">
  <div class="ion-text-center">
  <b> Certificaciones ETC IBEROAMERICA</b></div></ion-card>
  <div class="panel"> 
  
    <!-- ACU- AUTODESK AUTOCAD CERTIFIED USER-->
    <ion-card color="light">
    <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC1.png"></ion-img>
  <ion-card-content>
  <ion-card-title>
    ACU- AUTODESK AUTOCAD CERTIFIED USER
  </ion-card-title>
  <div class="ion-text-justify">
    <p>
      <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
    Las sólidas habilidades el en uso de software de diseño 2D y 3D son un gran activo 
    tanto en el ámbito académico como en el profesional. Enseñar a los estudiantes a usar
     el software de diseño de Autodesk de última generación, como AutoCAD, Inventor, Revit,
      Maya, 3DS Max y Fusion 360, les brinda una ventaja significativa para lograr el éxito
       universitario o profesional.
  </p>

  <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
    <ion-item color="naranja">
      <ion-icon name="people" ></ion-icon>
      <ion-label>&nbsp;<b>Dirigido a:</b><br>
      </ion-label>    
    </ion-item>
    <ul>
      <li><h6>DOCENTES</h6></li>
      <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
      <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
    </ul>
  </ion-card>



  </div>
  </ion-card-content>
  </ion-card>

  <!-- Acrodeon-->
  <ion-card color="light">
    <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC2.png"></ion-img>
    <ion-card-content>
    <ion-card-title>
      ECA - CYBER FORENSICS ASSOCIATE
    </ion-card-title>
    <div class="ion-text-justify">
      <p>
        <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
      La certificación Cyber Forensics Associate(C|FA) demuestra el conocimiento de un individuo para detectar 
      ataques de piratería y extraer adecuadamente evidencias para informar el delito y realizar auditorías para
       prevenir futuros ataques.
    </p>

    <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
      <ion-item color="naranja">
        <ion-icon name="people" ></ion-icon>
        <ion-label>&nbsp;<b>Dirigido a:</b><br>
        </ion-label>    
      </ion-item>
      <ul>
        <li><h6>DOCENTES</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
      </ul>
    </ion-card>

    </div>
    </ion-card-content>
    </ion-card>

    <!-- Acrodeon-->
    <ion-card color="light">
      <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC3.png"></ion-img>
      <ion-card-content>
      <ion-card-title>
        ECA - ETHICAL HACKING ASSOCIATE
      </ion-card-title>
      <div class="ion-text-justify">
        <p>
          <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
        La certificación Ethical Hacking Associate(E|HA) demuestra el conocimiento de un individuo en seguridad 
        de la información y seguridad de la red, incluidas las herramientas y metodologías de un hacker malicioso, pero
        de manera legal y legítima.<br>
        El propósito de esta certificación es establecer estándares mínimos para acreditar a los especialistas en
         seguridad de la información desde una perspectiva neutral.
      </p>

      <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
        <ion-item color="naranja">
          <ion-icon name="people" ></ion-icon>
          <ion-label>&nbsp;<b>Dirigido a:</b><br>
          </ion-label>    
        </ion-item>
        <ul>
          <li><h6>DOCENTES</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
        </ul>
      </ion-card>

      </div>
      </ion-card-content>
    </ion-card>

    <!-- Acrodeon-->
    <ion-card color="light">
      <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC4.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          ESB - ENTREPENEURSHIP AND SMALL BUSINESS
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          La certificación ESB está diseñada para validar conceptos y conocimientos básicos
           en emprendimiento y gestión de pequeñas empresas, estos conceptos centrales
            incluyen: <br>
            <li>EMPRENDEDOR</li> 
            <li>RECONOCIMIENTO DE OPORTUNIDAD</li>
            <li>INICIAR UN NEGOCIO</li> 
            <li>MARKETING Y VENTAS</li>
            <li>GESTIÓN
              FINANCIERA</li>
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN INDUSTRIAS ALIMENTARIAS</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
          </ul>
        </ion-card>

        </div>
        </ion-card-content>
      </ion-card>

    <!-- Acrodeon-->
    <ion-card color="light">
      <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC5.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          IC3 - GS5 COMPUTING FUNDAMENTALS
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          Las diferentes certificaciones IC3 acreditan el conocimiento, las competencnkias y las habilidades en el
           manejo de diferentes tareas ofimáticas e internet, en sus versiones Global Standard 5, Global Standard 4, 
           IC3 Spark, IC3 Fast Track e IC PHP Developer Fundamentals.
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN INDUSTRIAS ALIMENTARIAS</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
          </ul>
        </ion-card>


        </div>
        </ion-card-content>
      </ion-card>

      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC6.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          IC3 - GS5 KEY APPLICATIONS
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          <li>Procesadores de texto.</li>
          <li>Hojas de cálculo.</li>
          <li>Realización de presentaciones.</li>
          <li>Bases de datos.</li> 
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN INDUSTRIAS ALIMENTARIAS</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
          </ul>
        </ion-card>

        </div>
        </ion-card-content>
      </ion-card>

      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC7.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          IC3 - GS5 LIVING ONLINE
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>

            <li>Uso de internet y trabajo online</li>
            <li>Comunicación e interacciones sociales de forma segura y ética</li>
            <li>Redes sociales, calendario y conferencias en línea</li>
        
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN INDUSTRIAS ALIMENTARIAS</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
          </ul>
        </ion-card>


        </div>
        </ion-card-content>
      </ion-card>

      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC8.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          MCE- TECHNOLOGY LITERACY FOR EDUCATORS
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          El programa de certificación Microsoft Certified Educator (MCE) representa una valida y confiable manera 
          de medir la efectividad de inversión en tecnología y desarrollo profesional. <br>
          Los educadores que poseen una certificación MCE poseen las herramientas y competencias para 
          romper tanto las barreras geográficas como las de recursos y comienzan a aplicar su conocimiento para 
          entregar una experiencia de aprendizaje personalizada  para sus estudiantes mediante el uso de la tecnología.
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>DOCENTES DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>DOCENTES DE INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
            <li><h6>DOCENTES DE INGENIERÍA INDUSTRIAL</h6></li>
            <li><h6>DOCENTES DE INGENIERÍA EN INDUSTRIAS ALIMENTARIAS</h6></li>
            <li><h6>DOCENTES DE INGENIERÍA MECATRÓNICA</h6></li>
          </ul>
        </ion-card>


        </div>
        </ion-card-content>
      </ion-card>

      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC9.jpg"></ion-img>
        <ion-card-content>
        <ion-card-title>
          MTA - DATABASE FUNDAMENTALS
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
        Microsoft® le facilita la creación y entrega de educación tecnológica con un conjunto simple y 
        accesible de certificaciones tecnológicas de nivel básico.

        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          </ul>
        </ion-card>


        </div>
        </ion-card-content>
      </ion-card>


      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC10.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          MTA - PROGRAMMING USING PYTHON
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          Los candidatos para este examen deben poder reconocer y escribir código Python sintácticamente correcto, 
          reconocer los tipos de datos compatibles con Python y reconocer y escribir código Python que resuelva 
          lógicamente un problema determinado.
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          </ul>
        </ion-card>

        </div>
        </ion-card-content>
      </ion-card>

      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC11.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          MTA - WINDOWS SERVER ADMIN
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
      Microsoft Technology Associate (MTA), es el conjunto de exámenes de certificación de tecnología más
       reciente de Microsoft que validan los conocimientos fundamentales necesarios para comenzar a construir una
        carrera utilizando las tecnologías de Microsoft. <br>
        Este programa proporciona un punto de entrada apropiado para
         una futura carrera en tecnología.
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          </ul>
        </ion-card>


        </div>
        </ion-card-content>
      </ion-card>

      <!-- Acrodeon-->
      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/ETC12.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          UCU - UNITY CERTIFIED USER: PROGRAMMER
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
          Comienza con la creación de contenido interactivo para industrias como juegos, entretenimiento, automotriz, 
          arquitectura, ingeniería y construcción (AEC) y XR al obtener una certificación reconocida en la industria. 
          El usuario certificado de Unity: la certificación de programador valida las habilidades de programación 
          fundamentales de un individuo para crear juegos y aplicaciones o construir nuevos mundos en realidad aumentada
           (AR) y realidad virtual (VR).
        </p>

        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people" ></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          </ul>
        </ion-card>


        </div>
        </ion-card-content>
      </ion-card>

  </div>
  </div>
  
 <!-- Fin Card-->
  </ion-card-content>
  </ion-card>


  <!--Casa TestingProgram-->
  <ion-card color="dark">
    <div align="center">
    <img src="../../assets/certificaciones/testing.png" />
    </div>
    <ion-card-content>
    <div align="center">
    <ion-card-title>
   TestingProgram
    </ion-card-title>
    </div>
   <!-- Acrodeon-->
  
    <div>
    <ion-card button (click)="cardClick()"
    class="accordion" style="border-radius: 5px;" color="naranja">
    <div class="ion-text-center">
    <b> Certificaciones TestingProgram</b></div></ion-card>
    <div class="panel"> 
    
    <ion-card color="light">
    <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/TP1.png"></ion-img>
    <ion-card-content>
    <ion-card-title>
      MICROSOFT OFFICE 2019 
      (Word, Excel, Power Point, Outlook, Access)
    </ion-card-title>
    <div class="ion-text-justify">
      <p>
        <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
        La certificación Microsoft Office es una certificación reconocida internacionalmente para validar 
        conocimientos y habilidades en las aplicaciones de Microsoft Office <br>.

        <li>Word 2016 Expert.</li> 
         <li>Excel 2016 Expert.</li> 
         <li>PowerPoint 2016.</li> 
 
    </p>

    <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
      <ion-item color="naranja">
        <ion-icon name="people" ></ion-icon>
        <ion-label>&nbsp;<b>Dirigido a:</b><br>
        </ion-label>    
      </ion-item>
      <ul>
        <li><h6>DOCENTES</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA EN INDUSTRIAS ALIMENTARIAS</h6></li>
        <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
      </ul>
    </ion-card>

    </div>
    </ion-card-content>
    </ion-card>
    
    <ion-card color="light">
    <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/TP2.png"></ion-img>
      <ion-card-content>
      <ion-card-title>
        FUNDAMENTOS DE PROGRAMACIÓN
      </ion-card-title>
      <div class="ion-text-justify">
        <p>
          <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
        En este curso de Fundamentos de Programación aprenderás de forma básica y muy completa las nociones más
         elementales sobre el desarrollo de software. <br>
         Este curso dará un recorrido completo por todos los conceptos
          más básicos para aprender a programar, lo cual te permitirá entender cualquier lenguaje gracias a la visión
           global que adquirirás. 
      </p>

    
      <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
        <ion-item color="naranja">
          <ion-icon name="people" ></ion-icon>
          <ion-label>&nbsp;<b>Dirigido a:</b><br>
          </ion-label>    
        </ion-item>
        <ul>
          <li><h6>DOCENTES</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA INDUSTRIAL</h6></li>
          <li><h6>ALUMNOS DE INGENIERÍA MECATRÓNICA</h6></li>
        </ul>
      </ion-card>


      </div>
      </ion-card-content>
      </ion-card>

      <ion-card color="light">
        <ion-img style="border: green 3px solid;" src="../../assets/certificaciones/TP3.png"></ion-img>
        <ion-card-content>
        <ion-card-title>
          ADOBE CS6 (Photoshop, Dreamweaver, Flash)
        </ion-card-title>
        <div class="ion-text-justify">
          <p>
            <ion-text color="naranja"><b><h2>Objetivo:</h2></b></ion-text>
            La certificación de Adobe Creative Suite 6 da a profesores y estudiantes las herramientas para visualizar, comprender y 
            comunicar información fácilmente y de maneras creativas en impresos, Web, video y dispositivos móviles.
        </p>

      
        <ion-card button (click)="cardClick()" class="accordion" style="border-radius: 5px;">
          <ion-item color="naranja">
            <ion-icon name="people"></ion-icon>
            <ion-label>&nbsp;<b>Dirigido a:</b><br>
            </ion-label>    
          </ion-item>
          <ul>
            <li><h6>DOCENTES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA EN SISTEMAS COMPUTACIONALES</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INFORMÁTICA</h6></li>
            <li><h6>ALUMNOS DE INGENIERÍA INGENIERÍA EN GESTIÓN EMPRESARIAL</h6></li>
          </ul>
        </ion-card>
        

      </div>
        </ion-card-content>
        </ion-card>
      

    </div>
    </div>
    
  
   <!-- Fin-->
  
    </ion-card-content>
    </ion-card>

 <!-- COntacto-->
    <ion-card>
      <ion-item color="verde">
        <ion-label>Para mayor información comuniquese a:</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label> <h5> &nbsp;División Ingeniería Informática </h5></ion-label>
        <ion-button slot="end" color="naranja" routerLink="/contacto" icon name="call-sharp"><ion-icon name="call-sharp"></ion-icon></ion-button>
      </ion-item>
    </ion-card>



</ion-content>
  
  

