<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería en Gestion Empresarial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img style="width: 300px; height: 300px;" src="../../assets/imggestion/Pempresarial.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="dark">
    
    
   <ion-slides pager="true">
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Objetivo General</b></font></div><br>
    <h6><font color="white">""""</font></h6>
    </div>
    </ion-slide>
    
    
    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"> <b>Misión</b></font></div><br>
    <h6><font color="white">""""""</font></h6>
    </div>
    </ion-slide>
    

    <ion-slide>
    <div class="ion-text-justify">
    <div align="center">
    <font color="white"><b>Visión</b></font></div><br>
    <h6><font color="white">""""""</font></h6>
    </div>
    </ion-slide>
    
   </ion-slides>
    
   </ion-card>
  


  <div>
    <ion-card button  class="accordion" style="border-radius: 5px;" color="verde" > 
   <div class="ion-text-center"><b>Retícula de Ingeniería en Gestión Empresarial ESCOLARIZADO IGEM-2009-201</b></div></ion-card>
  <div class="panel">  


 
  <div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
    <ul>
     
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> CÁLCULO DIFERENCIAL</li>
      <li> DESARROLLO HUMANO </li>
      <li> FUNDAMENTOS DE GESTIÓN EMPRESARIAL </li>
      <li> FUNDAMENTOS DE FÍSICA </li>
      <li> FUNDAMENTOS DE QUÍMICA </li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
  
    </ul>
  </div>
</div>

<div>
  <ion-card 
 class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> SOFTWARE DE APLICACIÓN EJECUTIVO </li>
      <li> CÁLCULO INTEGRAL</li>
      <li> CONTABILIDAD ORIENTADA A LOS NEGOCIOSS </li>
      <li> DINÁMICA SOCIAL </li>
      <li> TALLER DE ÉTICA</li>
      <li> LEGISLACIÓN LABORAL </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card 
 class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> MARCO LEGAL DE LAS ORGANIZACIONES </li>
      <li> PROBABILIDAD Y ESTADÍSTICA DESCRIPTIVA</li>
      <li> COSTOS EMPRESARIALES </li>
      <li> HABILIDADES DIRECTIVAS I </li>
      <li> ECONOMÍA EMPRESARIAL</li>
      <li> ÁLGEBRA LINEAL </li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card 
 class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> INGENIERÍA ECONÓMICA </li>
      <li> ESTADÍSTICA INFERENCIAL I</li>
      <li> INSTRUMENTOS DE PRESUPUESTACIÓN EMPRESARIAL </li>
      <li> HABILIDADES DIRECTIVAS II </li>
      <li> ENTORNO MACROECONÓMICO </li>
      <li> GESTIÓN DEL CAPITAL HUMANO </li>
      <li> INVESTIGACIÓN DE OPERACIONES</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FINANZAS EN LAS ORGANIZACIONES </li>
      <li> ESTADÍSTICA INFERENCIAL II</li>
      <li> INGENIERÍA DE PROCESOS</li>
      <li> GESTIÓN ESTRATÉGICA </li>
      <li> DISEÑO ORGANIZACIONAL</li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> MERCADOTECNIA</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ADMINISTRACIÓN DE LA SALUD Y SEGURIDAD OCUPACIONAL </li>
      <li> EL EMPRENDEDOR Y LA INNOVACIÓN </li>
      <li> GESTIÓN DE LA PRODUCCIÓN I </li>
      <li> MERCADOTECNIA ELECTRÓNICA </li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> TALLER DE INVESTIGACIÓN II </li>
      <li> SISTEMAS DE INFORMACIÓN DE LA MERCADOTECNIA </li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CALIDAD APLICADA A LA GESTIÓN EMPRESARIAL </li>
      <li> PLAN DE NEGOCIOS</li>
      <li> GESTIÓN DE LA PRODUCCIÓN II</li>
      <li> CADENA DE SUMINISTROS </li>
      <li> NIVEL B1 (MCER) </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TALLER DE RELACIONES PÚBLICAS </li>
      <li> LA TECNOLOGÍA Y SU ENTORNO </li>
      <li> DESARROLLO DE NUEVOS PRODUCTOS </li>
      <li> DECISIONES MERCADOLÓGICAS </li>
      <li> TRÁMITES LEGALES Y GESTIÓN DEL FINANCIAMIENTO</li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>

<!--  -->


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">
 <div class="ion-text-center">
<b> Reticula de Ingeniería en Gestión Empresarial MIXTO IGEM-2009-201</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> CÁLCULO DIFERENCIAL</li>
    <li> DESARROLLO HUMANO </li>
    <li> FUNDAMENTOS DE GESTIÓN EMPRESARIAL </li>
    <li> FUNDAMENTOS DE FÍSICA </li>
    <li> FUNDAMENTOS DE QUÍMICA </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
      <li> SOFTWARE DE APLICACIÓN EJECUTIVO </li>
      <li> CÁLCULO INTEGRAL</li>
      <li> CONTABILIDAD ORIENTADA A LOS NEGOCIOSS </li>
      <li> DINÁMICA SOCIAL </li>
      <li> TALLER DE ÉTICA</li>
      <li> LEGISLACIÓN LABORAL </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
      <li> MARCO LEGAL DE LAS ORGANIZACIONES </li>
      <li> PROBABILIDAD Y ESTADÍSTICA DESCRIPTIVA </li>
      <li> COSTOS EMPRESARIALES </li>
      <li> HABILIDADES DIRECTIVAS I </li>
      <li> ECONOMÍA EMPRESARIAL </li>
      <li> ÁLGEBRA LINEAL </li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
      <li> INGENIERÍA ECONÓMICA </li>
      <li> ESTADÍSTICA INFERENCIAL I</li>
      <li> INSTRUMENTOS DE PRESUPUESTACIÓN EMPRESARIAL </li>
      <li> HABILIDADES DIRECTIVAS II </li>
      <li> GESTIÓN DEL CAPITAL HUMANO </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FINANZAS EN LAS ORGANIZACIONES</li>
    <li> ESTADÍSTICA INFERENCIAL II </li>
    <li> DISEÑO ORGANIZACIONAL</li>
    <li> ENTORNO MACROECONÓMICO </li>
    <li> INVESTIGACIÓN DE OPERACIONES</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="naranja">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> ADMINISTRACIÓN DE LA SALUD Y SEGURIDAD OCUPACIONAL </li>
      <li> INGENIERÍA DE PROCESOS </li>
      <li> GESTIÓN DE LA PRODUCCIÓN I </li>
      <li> TALLER DE  INVESTIGACIÓN I </li>
      <li> MERCADOTECNIA </li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CALIDAD APLICADA A LA GESTIÓN EMPRESARIAL </li>
    <li> EL EMPRENDEDOR Y LA INNOVACIÓN </li>
    <li> GESTIÓN DE LA PRODUCCIÓN II </li>
    <li> TALLER DE INVESTIGACIÓN II </li>
    <li> SISTEMAS DE INFORMACIÓN DE LA MERCADOTECNIA</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PLAN DE NEGOCIOS </li>
    <li> CADENA DE SUMINISTROS</li>
    <li> GESTIÓN ESTRATÉGICA </li>
    <li> DESARROLLO SUSTENTABLE </li>
    <li> MERCADOTECNIA ELECTRÓNICA</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button 
class="accordion" style="border-radius: 5px;" color="naranja">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE RELACIONES PÚBLICAS </li>
    <li> LA TECNOLOGÍA Y SU ENTORNO </li>
    <li> DESARROLLO DE NUEVOS PRODUCTOS </li>
    <li> DECISIONES MERCADOLÓGICAS</li>
    <li> TRÁMITES LEGALES Y GESTIÓN DEL FINANCIAMIENTO</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button 
  class="accordion" style="border-radius: 5px;" color="naranja">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
       <li> RESIDENCIA PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>

<div align="center">
<img src="../../assets/imggestion/Logogestion.png" />
</div>
</ion-content>
