
<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería en Gestion Empresarial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img src="../../assets/imggestion/Pempresarial.png"></ion-img>
   </div>
   </ion-card>
   
   
  
  
   <ion-card color="verde">
    <ion-card color="dark" class="ion-padding" >
    <ion-slides pager="true" >
    <ion-slide>
   
    <ion-text color="light"><ion-button color="naranja">
      <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Objetivo General</ion-button>
     <div class="ion-text-justify">
     <h6>Formar profesionales que contribuyan a la gestión de empresas e innovación de procesos; 
       así como al diseño, implementación y desarrollo de sistemas estratégicos de negocios, 
       optimizando recursos en un entorno global, con ética y responsabilidad social.
      </h6>
    </div>
      </ion-text>
    </ion-slide>   
    
    
   
    
   </ion-slides>
  </ion-card>
   </ion-card>
  


   <div>
   
    <ion-card button 
   class="accordion" color="naranja" >
   <div class="ion-text-center"><b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp;Retícula de Ingeniería en Gestión Empresarial ESCOLARIZADO IGEM-2009-201</b></div></ion-card>
    <div class="panel">  


 
      <div>
        <ion-card button 
       class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
      <div class="panel">  
          <ul>
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> CÁLCULO DIFERENCIAL</li>
      <li> DESARROLLO HUMANO </li>
      <li> FUNDAMENTOS DE GESTIÓN EMPRESARIAL </li>
      <li> FUNDAMENTOS DE FÍSICA </li>
      <li> FUNDAMENTOS DE QUÍMICA </li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
   
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> SOFTWARE DE APLICACIÓN EJECUTIVO </li>
      <li> CÁLCULO INTEGRAL</li>
      <li> CONTABILIDAD ORIENTADA A LOS NEGOCIOSS </li>
      <li> DINÁMICA SOCIAL </li>
      <li> TALLER DE ÉTICA</li>
      <li> LEGISLACIÓN LABORAL </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> MARCO LEGAL DE LAS ORGANIZACIONES </li>
      <li> PROBABILIDAD Y ESTADÍSTICA DESCRIPTIVA</li>
      <li> COSTOS EMPRESARIALES </li>
      <li> HABILIDADES DIRECTIVAS I </li>
      <li> ECONOMÍA EMPRESARIAL</li>
      <li> ÁLGEBRA LINEAL </li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> INGENIERÍA ECONÓMICA </li>
      <li> ESTADÍSTICA INFERENCIAL I</li>
      <li> INSTRUMENTOS DE PRESUPUESTACIÓN EMPRESARIAL </li>
      <li> HABILIDADES DIRECTIVAS II </li>
      <li> ENTORNO MACROECONÓMICO </li>
      <li> GESTIÓN DEL CAPITAL HUMANO </li>
      <li> INVESTIGACIÓN DE OPERACIONES</li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> FINANZAS EN LAS ORGANIZACIONES </li>
      <li> ESTADÍSTICA INFERENCIAL II</li>
      <li> INGENIERÍA DE PROCESOS</li>
      <li> GESTIÓN ESTRATÉGICA </li>
      <li> DISEÑO ORGANIZACIONAL</li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> MERCADOTECNIA</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>




<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ADMINISTRACIÓN DE LA SALUD Y SEGURIDAD OCUPACIONAL </li>
      <li> EL EMPRENDEDOR Y LA INNOVACIÓN </li>
      <li> GESTIÓN DE LA PRODUCCIÓN I </li>
      <li> MERCADOTECNIA ELECTRÓNICA </li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> TALLER DE INVESTIGACIÓN II </li>
      <li> SISTEMAS DE INFORMACIÓN DE LA MERCADOTECNIA </li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CALIDAD APLICADA A LA GESTIÓN EMPRESARIAL </li>
      <li> PLAN DE NEGOCIOS</li>
      <li> GESTIÓN DE LA PRODUCCIÓN II</li>
      <li> CADENA DE SUMINISTROS </li>
      <li> NIVEL B1 (MCER) </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> TALLER DE RELACIONES PÚBLICAS </li>
      <li> LA TECNOLOGÍA Y SU ENTORNO </li>
      <li> DESARROLLO DE NUEVOS PRODUCTOS </li>
      <li> DECISIONES MERCADOLÓGICAS </li>
      <li> TRÁMITES LEGALES Y GESTIÓN DEL FINANCIAMIENTO</li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>

<!--  -->


<div>
  <div>
    <ion-card button 
   class="accordion" style="border-radius: 5px;" color="naranja">
   <div class="ion-text-center">
  <b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp;Reticula de Ingeniería en Gestión Empresarial MIXTO IGEM-2009-201</b></div></ion-card>
    <div class="panel">  



<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
    <li> CÁLCULO DIFERENCIAL</li>
    <li> DESARROLLO HUMANO </li>
    <li> FUNDAMENTOS DE GESTIÓN EMPRESARIAL </li>
    <li> FUNDAMENTOS DE FÍSICA </li>
    <li> FUNDAMENTOS DE QUÍMICA </li>
    <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
      <li> SOFTWARE DE APLICACIÓN EJECUTIVO </li>
      <li> CÁLCULO INTEGRAL</li>
      <li> CONTABILIDAD ORIENTADA A LOS NEGOCIOSS </li>
      <li> DINÁMICA SOCIAL </li>
      <li> TALLER DE ÉTICA</li>
      <li> LEGISLACIÓN LABORAL </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
      <li> MARCO LEGAL DE LAS ORGANIZACIONES </li>
      <li> PROBABILIDAD Y ESTADÍSTICA DESCRIPTIVA </li>
      <li> COSTOS EMPRESARIALES </li>
      <li> HABILIDADES DIRECTIVAS I </li>
      <li> ECONOMÍA EMPRESARIAL </li>
      <li> ÁLGEBRA LINEAL </li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
      <li> INGENIERÍA ECONÓMICA </li>
      <li> ESTADÍSTICA INFERENCIAL I</li>
      <li> INSTRUMENTOS DE PRESUPUESTACIÓN EMPRESARIAL </li>
      <li> HABILIDADES DIRECTIVAS II </li>
      <li> GESTIÓN DEL CAPITAL HUMANO </li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> FINANZAS EN LAS ORGANIZACIONES</li>
    <li> ESTADÍSTICA INFERENCIAL II </li>
    <li> DISEÑO ORGANIZACIONAL</li>
    <li> ENTORNO MACROECONÓMICO </li>
    <li> INVESTIGACIÓN DE OPERACIONES</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> ADMINISTRACIÓN DE LA SALUD Y SEGURIDAD OCUPACIONAL </li>
      <li> INGENIERÍA DE PROCESOS </li>
      <li> GESTIÓN DE LA PRODUCCIÓN I </li>
      <li> TALLER DE  INVESTIGACIÓN I </li>
      <li> MERCADOTECNIA </li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CALIDAD APLICADA A LA GESTIÓN EMPRESARIAL </li>
    <li> EL EMPRENDEDOR Y LA INNOVACIÓN </li>
    <li> GESTIÓN DE LA PRODUCCIÓN II </li>
    <li> TALLER DE INVESTIGACIÓN II </li>
    <li> SISTEMAS DE INFORMACIÓN DE LA MERCADOTECNIA</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> PLAN DE NEGOCIOS </li>
    <li> CADENA DE SUMINISTROS</li>
    <li> GESTIÓN ESTRATÉGICA </li>
    <li> DESARROLLO SUSTENTABLE </li>
    <li> MERCADOTECNIA ELECTRÓNICA</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button (click)="cardClick()"
class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> TALLER DE RELACIONES PÚBLICAS </li>
    <li> LA TECNOLOGÍA Y SU ENTORNO </li>
    <li> DESARROLLO DE NUEVOS PRODUCTOS </li>
    <li> DECISIONES MERCADOLÓGICAS</li>
    <li> TRÁMITES LEGALES Y GESTIÓN DEL FINANCIAMIENTO</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button (click)="cardClick()"
  class="accordion" style="border-radius: 5px;" color="verde">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
       <li> RESIDENCIA PROFESIONAL </li>
    </ul>
  </div>
  </div>



</div>
</div>
</div>

<!--Perfil del Aspirante-->
<ion-card color="light">
   
 
  <ion-card color="naranja"> 
  <div align="center">
  <ion-card-title><b>Perfil del Aspirante</b></ion-card-title>
  </div>
  
  </ion-card>
  
  <ion-card color="light">
  <div class="ion-text-justify">
  <h6>
   <ion-text color="dark">El aspirante a cursar la carrera Ingeniería en Gestion Empresarial en el Instituto 
  Tecnológico Superior de Teziutlán deberá haber concluido el bachillerato 
  general, y contar preferentemente con:
  </ion-text>
  </h6>
  </div>
  </ion-card>
 
 
 
  <ion-card color="dark">
  <ion-slides pager="true">
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Conocimientos</b></ion-text> </div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imggestion/GesConocimientos.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Razonamiento crítico y matemáticoa</h6></li>
  <li><h6>Uso básico de aplicaciones de oficina</h6></li>
  <li><h6>Búsqueda de la mejora continua e inclinación a la toma de decisiones</h6></li>
  <li><h6>Capacidad de análisis, visión, y sensibilidad con el trato humano y espíritu de servicio.</h6></li>
  </ul>
  
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"> <b>Habilidades</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imggestion/GesHabilidades.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Ser analíticos, precisos, estructurados, organizados y solucionador de problemas.</h6></li>
  <li><h6>Expresarse correctamente en forma oral y escrita</h6></li>
  <li><h6>Analizar y sintetizar problemas prácticos y de la vida real</h6></li>
  <li><h6>Resolución de problemas</h6></li>
  </ul>
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Intereses</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imggestion/GesIntereses.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Interés por el emprendedurismo</h6></li>
  <li><h6>Diseño e implementacion de estrategias de mercadotecni.</h6></li>
  <li><h6>Diseña, y emprende nuevos negocios y proyectos empresariales sustentables.</h6></li>
  <li><h6>Utilizar las nuevas tecnologías de información y comunicación.</h6></li>
  </ul>
 </ion-slide>
  
 <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Actitudes</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imggestion/GesActitudes.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Compromiso</h6></li>
  <li><h6>Responsabilidad</h6></li>
  <li><h6>Emprendedurismo</h6></li>
  <li><h6>Deseo de aprender</h6></li>
  <li><h6>Trabajo en equipo</h6></li>
  </ul>
 </ion-slide>
  
  
  </ion-slides>
 </ion-card>
  

<div align="center">
<img style="width: 250px; height: 80px;" src="../../assets/imggestion/Logogestion.png" />
</div>
</ion-card>
</ion-content>
