
<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Ingeniería en Mecatronica</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

    
   <ion-card color="dark">
    <div align="center">
    <ion-img src="../../assets/imgMecatronica/Pmecatronica.png"></ion-img>
   </div>
   </ion-card>
   
   
  
   <ion-card color="verde">
    <ion-card color="dark" class="ion-padding" >
      <ion-slides pager="true" >
      <ion-slide>
     
      <ion-text color="light"><ion-button color="naranja">
        <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Objetivo General</ion-button>
        <div class="ion-text-justify">
        <h6> El egresado de la Ingeniería en Mecatrónica contará 
      con la capacidad analítica, crítica y creativa que le permita diseñar, proyectar, construir, 
      innovar y administrar sistemas de control y automatizaciones industriales con un enfoque moderno 
      para atender las necesidades del sector productivo y de servicios.
    </h6>
  </div>
    </ion-text>
  </ion-slide>
    
    
  
  
     
     </ion-slides>
    </ion-card>
  </ion-card>
  

  <div>
    <ion-card button 
    class="accordion" color="naranja" >
    <div class="ion-text-center"><b><ion-icon name="caret-down-outline"></ion-icon>
     &nbsp;Retícula de Ingeniería Mecatrónica Escolarizado IMCT-2010-229</b></div></ion-card>
     <div class="panel">  


 
  <div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> QUÍMICA </li>
      <li> CÁLCULO DIFERENCIA</li>
      <li> TALLER DE ÉTICA </li>
      <li> DIBUJO ASISTIDO POR COMPUTADORA </li>
      <li> METROLOGÍA Y NORMALIZACIÓN </li>
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> INGLÉS I</li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
  
    </ul>
  </div>
</div>

<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CÁLCULO INTEGRAL </li>
      <li> ÁLGEBRA LINEAL</li>
      <li> CIENCIA E INGENIERÍA DE MATERIALES </li>
      <li> PROGRAMACIÓN BÁSICA </li>
      <li> ESTADÍSTICA Y CONTROL DE CALIDAD</li>
      <li> ADMINISTRACIÓN Y CONTABILIDAD </li>
      <li> INGLÉS II</li>
      <li> ACTIVIDAD EXTRAESCOLAR II</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CÁLCULO VECTORIAL </li>
      <li> PROCESOS DE FABRICACIÓN </li>
      <li> ELECTROMAGNETISMO </li>
      <li> ESTÁTICA </li>
      <li> MÉTODOS NUMÉRICOS</li>
      <li> DESARROLLO SUSTENTABLE </li>
      <li> INGLÉS III</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ECUACIONES DIFERENCIALES </li>
      <li> FUNDAMENTOS DE TERMODINÁMICA </li>
      <li> MECÁNICA DE MATERIALES </li>
      <li> DINÁMICA  </li>
      <li> ANÁLISIS DE CIRCUITOS ELÉCTRICOS</li>
      <li> ANÁLISIS DE FLUIDOS </li>
      <li> MECANISMOS </li>
      <li> INGLÉS IV</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> MÁQUINAS ELÉCTRICAS </li>
      <li> ELECTRÓNICA ANALÓGICA</li>
      <li> MANUFACTURA AVANZADA</li>
      <li> TALLER DE INVESTIGACIÓN I </li>
      <li> ELECTRÓNICA DIGITAL</li>
      <li> VIBRACIONES MECÁNICAS </li>
      <li> MANTENIMIENTO</li>
      <li> INGLÉS V</li>
      <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
    </ul>
  </div>
</div>



<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> ELECTRÓNICA DE POTENCIA APLICADA </li>
      <li> INSTRUMENTACIÓN</li>
      <li> TALLER DE INVESTIGACIÓN II</li>
      <li> CIRCUITOS HIDRÁULICOS Y NEUMÁTICOS </li>
      <li> MICROCONTROLADORES</li>
      <li> DINÁMICA DE SISTEMAS </li>
      <li> DISEÑO DE ELEMENTOS MECÁNICOS</li>
      <li> INGLÉS VI</li>
    </ul>
  </div>
</div>

<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> CONTROLADORES LÓGICOS PROGRAMABLES </li>
      <li> CONTROL </li>
      <li> DISEÑO DE MÉTODOS DE TRABAJO</li>
      <li> SISTEMAS DE MANUFACTURA </li>
      <li> SERVICIO SOCIAL</li>
      <li> EVENTOS ACADÉMICOS</li>
      <li> NIVEL B1 (MCER) </li>
    </ul>
  </div>
</div>


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> SISTEMAS DIGITALES DE CONTROL</li>
      <li> FORMULACIÓN Y EVALUACIÓN DE PROYECTOS </li>
      <li> PROGRAMACIÓN AVANZADA</li>
      <li> ROBÓTICA </li>
      <li> INSTRUMENTACIÓN VIRTUAL</li>
      <li> COMUNICACIONES INDUSTRIALES </li>
      <li> ACTIVIDADES COMPLEMENTARIAS</li>
    </ul>
  </div>
</div>


<div>
  <ion-card button
 class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
    <ul>
      <li> RESIDENCIA
        PROFESIONAL </li>
    </ul>
  </div>
</div>


</div>
</div>





<!--  -->


<div>
  <ion-card button 
 class="accordion" style="border-radius: 5px;" color="naranja">
 <div class="ion-text-center">
  <b><ion-icon name="caret-down-outline"></ion-icon>
    &nbsp; Retícula de Ingeniería Mecatrónica Modular IMCT-2010-229</b></div></ion-card>
<div class="panel">  



<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Primer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> QUÍMICA </li>
      <li> CÁLCULO DIFERENCIA</li>
      <li> TALLER DE ÉTICA </li>
      <li> DIBUJO ASISTIDO POR COMPUTADORA </li>
      <li> METROLOGÍA Y NORMALIZACIÓN </li>
      <li> FUNDAMENTOS DE INVESTIGACIÓN </li>
      <li> ACTIVIDAD EXTRAESCOLAR I</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Segundo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO INTEGRAL </li>
    <li> ÁLGEBRA LINEAL</li>
    <li> CIENCIA E INGENIERÍA DE MATERIALES </li>
    <li> PROGRAMACIÓN BÁSICA </li>
    <li> ESTADÍSTICA Y CONTROL DE CALIDAD</li>
    <li> ADMINISTRACIÓN Y CONTABILIDAD </li>
    <li> ACTIVIDAD EXTRAESCOLAR II</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Tercer Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CÁLCULO VECTORIAL </li>
    <li> PROCESOS DE FABRICACIÓN </li>
    <li> ELECTROMAGNETISMO </li>
    <li> ESTÁTICA </li>
    <li> MÉTODOS NUMÉRICOS</li>
    <li> DESARROLLO SUSTENTABLE </li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Cuarto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> ECUACIONES DIFERENCIALES </li>
      <li> FUNDAMENTOS DE TERMODINÁMICA </li>
      <li> MECÁNICA DE MATERIALES </li>
      <li> DINÁMICA  </li>
      <li> ANÁLISIS DE CIRCUITOS ELÉCTRICOS</li>
      <li> INGLÉS I</li>
  </ul>
</div>
</div>

<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Quinto Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> MÁQUINAS ELÉCTRICAS </li>
    <li> ELECTRÓNICA ANALÓGICA</li>
    <li> MECANISMOS</li>
    <li> TALLER DE INVESTIGACIÓN I </li>
    <li> ANALISIS DE FLUIDOS</li>
    <li> INGLÉS II</li>
    <li> TUTORÍA (DE 1 A 5 SEMESTRE)</li>
  </ul>
</div>
</div>


<div>
  <ion-card button
  class="accordion" style="border-radius: 5px;" color="verde">Sexto Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> ELECTRÓNICA DE POTENCIA APLICADA </li>
      <li> INSTRUMENTACIÓN</li>
      <li> MANUFACTURA AVANZADA</li>
      <li> ELECTRONICA DIGITAL </li>
      <li> VIBRACIONES MECÁNICAS</li>
      <li> INGLÉS III</li>
    </ul>
  </div>
  </div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Septimo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CIRCUITOS HIDRÁULICOS Y NEUMÁTICOS </li>
    <li> DISEÑO DE ELEMENTOS MECÁNICOS</li>
    <li> MICROCONTROLADORES</li>
    <li> DINÁMICA DE SISTEMAS </li>
    <li> MANTENIMIENTO</li>
    <li> INGLÉS IV </li>
    <li> EVENTOS ACADÉMICOS(DE 1 A 7 SEMESTRE)</li>
    <li> ACTIVIDADES COMPLEMENTARIAS</li>
  </ul>
</div>
</div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Octavo Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> CONTROLADORES LÓGICOS PROGRAMABLES </li>
    <li> CONTROL </li>
    <li> TALLER DE INVESTIGACIÓN II</li>
    <li> SISTEMAS DE MANUFACTURA </li>
    <li> DISEÑO DE MÉTODOS DE TRABAJO</li>
    <li> INGLÉS V </li>
    <li> SERVICIO SOCIAL</li>
  </ul>
</div>
</div>


<div>
<ion-card button
class="accordion" style="border-radius: 5px;" color="verde">Noveno Semestre</ion-card>
<div class="panel">  
  <ul>
    <li> COMUNICACIONES INDUSTRIALES </li>
    <li> PROGRAMACIÓN AVANZADA</li>
    <li> ROBÓTICA </li>
    <li> SISTEMAS DIGITALES DE CONTROL</li>
    <li> INSTRUMENTACIÓN VIRTUAL</li> 
    <li> INGLÉS VI</li>
  </ul>
</div>
</div>

<div>
  <ion-card button
  class="accordion" style="border-radius: 5px;" color="verde">Décimo Semestre</ion-card>
  <div class="panel">  
    <ul>
      <li> RESIDENCIA PROFESIONAL </li>
      <li> FORMULACIÓN Y EVALUACIÓN DE PROYECTOS</li>
      <li> NIVEL B1 (MCER)</li>
    </ul>
  </div>
  </div>



</div>
</div>

<!--Perfil del Aspirante-->
<ion-card color="light">
   
 
  <ion-card color="naranja"> 
  <div align="center">
  <ion-card-title><b>Perfil del Aspirante</b></ion-card-title>
  </div>
  
  </ion-card>
  
  <ion-card color="light">
  <div class="ion-text-justify">
  <h6>
   <ion-text color="dark">Es recomendable más no indispensable que el aspirante a estudiar la 
     Licenciatura en Ingeniería Mecatrónica, tenga inclinación por las ciencias exactas:
  </ion-text>
  </h6>
  </div>
  </ion-card>
 
 
 
  <ion-card color="dark">
  <ion-slides pager="true">
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Conocimientos</b></ion-text> </div>
  <div align="center">
  <ion-img style="width: 200px; height: 200px;" src="../../assets/imgMecatronica/MecConocimientos.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>contar con la capacidad analítica, crítica y creativa</h6></li>
  <li><h6>Ciencias Físico-Matemáticas</h6></li>
  <li><h6>Conceptos básicos de geometría y trigonometría</h6></li>
  <li><h6>Conceptos básicos de operaciones algebraicas y ecuaciones</h6></li>
  </ul>
  
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"> <b>Habilidades</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgMecatronica/MecHabilidades.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Tener hábitos y métodos adecuados para el estudio y aprendizaje</h6></li>
  <li><h6>Expresarse correctamente en forma oral y escrita</h6></li>
  <li><h6>Analizar y sintetizar problemas prácticos y de la vida real</h6></li>
  <li><h6>Razonamiento lógico matemático</h6></li>
  </ul>
  </ion-slide>
  
  <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Intereses</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgMecatronica/MecIntereses.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Evaluar y generar proyectos industriales</h6></li>
  <li><h6>Investigación documental</h6></li>
  <li><h6>Automatizar sistemas mecánicos utilizando tecnologías eléctricas, electrónicas y herramientas computacionales.</h6></li>
  <li><h6>Desarrollar capacidades de liderazgo, comunicación e interrelaciones personales para transmitir ideas,</h6></li>
  </ul>
 </ion-slide>
  
 <ion-slide>
  <div class="ion-text-justify">
  <div align="center">
  <ion-text color="light"><b>Actitudes</b></ion-text></div>
  <div align="center">
  <ion-img style="width: 150px; height: 150px;" src="../../assets/imgMecatronica/MecActitudes.png"></ion-img>
  </div>
  </div>
  <ul>
  <li><h6>Compromiso</h6></li>
  <li><h6>Responsabilidad</h6></li>
  <li><h6>Pensamiento critico</h6></li>
  <li><h6>Deseo de aprender</h6></li>
  <li><h6>Trabajo en equipo</h6></li>
  </ul>
 </ion-slide>
  
  
  </ion-slides>
 </ion-card>


<div align="center">
<img style="width: 250px; height: 80px;" src="../../assets/imgMecatronica/LogoMecatronica.PNG" />
</div>
</ion-card>
</ion-content>
