
<ion-header>
  <ion-toolbar color="verde">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/tec1.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Tecnológico Nacional de México</ion-card-subtitle>
      <ion-card-title>Instituto Tecnológico Superior de Teziutlán</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El Instituto Tecnológico Superior de Teziutlán es una institución de educación
      universitaria superior tecnológica ubicada en la ciudad de Teziutlán, municipio correspondiente al estado de
      Puebla.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" color="naranja" routerLink="/home">Ver mas...</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="desktop-outline" slot="start"></ion-icon>
      <ion-label>Ingeniería Informática</ion-label>
      <ion-button fill="outline" slot="end" color="naranja" routerLink="/informatica">Ver</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-label>Ingeniería Sistemas Computacionales</ion-label>
      <ion-button fill="outline" slot="end" color="naranja">Ver</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="color-fill-outline" slot="start"></ion-icon>
      <ion-label>Ingeniería Industrias Alimentarias</ion-label>
      <ion-button fill="outline" slot="end" color="naranja">Ver</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="desktop-outline" slot="start"></ion-icon>
      <ion-label>Ingeniería Mecatrónica</ion-label>
      <ion-button fill="outline" slot="end" color="naranja">Ver</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="construct-outline" slot="start"></ion-icon>
      <ion-label>Ingeniería en Industrial</ion-label>
      <ion-button fill="outline" slot="end" color="naranja">Ver</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>Ingeniería Gestión Empresarial</ion-label>
      <ion-button fill="outline" slot="end" color="naranja">Ver</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>Contacto</ion-label>
      <ion-button fill="outline" slot="end" color="naranja" routerLink="/contacto">Ver</ion-button>
    </ion-item>
  </ion-card>
</ion-content>

  